@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*-------- Tablet Media Queries ---------*/
/*-------- Mobile Media Queries ---------*/
/*-------- Other Mobile Media Queries ---------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.imgTop {
  background: url("../img/SVG/Top.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  background-color: #183435;
  position: relative;
  z-index: 69;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .logo h1 {
  font-weight: 500;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin-left: .4em;
}

.header .logo span {
  font-weight: 300;
}

.header .logo .logoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo .logoImg svg {
  height: 3em;
  width: 4em;
}

.header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 10em;
}

.header .navBar .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navBar .navList {
  margin: 0;
  padding: 0;
  margin-right: 5em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navBar .navList .navItem {
  display: block;
  margin-right: 1em;
}

.header .navBar .navList .navItem a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 1em;
  position: relative;
}

.header .navBar .navList .navItem a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  bottom: 0;
  right: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0, 2.01);
  transition: all 200ms cubic-bezier(0.68, -0.55, 0, 2.01);
}

.header .navBar .navList .navItem a:hover:after {
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0, 2.01);
  transition: all 200ms cubic-bezier(0.68, -0.55, 0, 2.01);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .navBar .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navBar .btn {
  margin-right: 1em;
  white-space: nowrap;
}

.header .navBar .btn a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  padding: .8em 2em;
  background-color: white;
  border-radius: 2px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .navBar .btn a:hover {
  background-color: rgba(255, 255, 255, 0.925);
}

.header .navBar .login a {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
}

.header .navBar .login a:hover {
  color: #000;
  background-color: #FFF;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header .navBar .signup a {
  padding: .9em 2em;
}

.container {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
}

.container .desc h3 {
  font-weight: bold;
}

.container .text h1 {
  font-weight: normal;
}

.container .girl {
  -webkit-animation: girl 1000ms ease-in-out;
          animation: girl 1000ms ease-in-out;
}

.container .girl img {
  display: block;
  height: 42em;
  width: 50em;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: content 1000ms ease-in-out;
          animation: content 1000ms ease-in-out;
  height: 19em;
  margin-left: 3em;
  margin-top: 10em;
}

.container .start .startBtn a {
  color: #FFF;
  text-decoration: none;
  border-radius: 40px;
  border: 2px solid #FFF;
  padding: .9em 2em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.container .start .startBtn a:hover {
  color: #000;
  background-color: #FFF;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  position: fixed;
  right: 0;
  top: -100%;
  z-index: 2;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
  opacity: 0;
}

.popup .choose {
  position: relative;
  z-index: 69;
  width: 90%;
  height: 100%;
}

.popup .Btn {
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  position: relative;
  margin-right: 2em;
  display: block;
  padding-bottom: 1em;
}

.popup .Btn::after {
  content: url("../img/SVG/right2.svg");
  position: absolute;
  right: 0;
  width: 1.2em;
  bottom: 28%;
  display: block;
  left: 100%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.popup .Btn:hover::after {
  left: 105%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.popup .choice {
  border-bottom: 2px solid black;
  width: 30em;
  position: relative;
  padding-bottom: 2em;
}

.popup .choice::after {
  content: '';
  width: 100%;
  height: 3px;
  top: 100%;
  position: absolute;
  background-color: #183435;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.popup .choice:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.popupBlock {
  top: 0%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  opacity: 1;
}

.popupBlock .choose {
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cross svg {
  position: absolute;
  z-index: 70;
  bottom: 80%;
  width: 1.5em;
  height: 1.5em;
  right: 20%;
  cursor: pointer;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding: .5em;
}

.cross svg:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  fill: #df4c41;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes girl {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes girl {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 737px) and (max-width: 1200px) {
  .girl img {
    height: 38em !important;
    width: 27em !important;
  }
  .btn {
    white-space: nowrap;
  }
  .choose {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .content {
    margin: 0 !important;
    margin-left: 1em !important;
    height: 27em !important;
    margin-top: 6em !important;
  }
  .cross svg {
    right: 4%;
    bottom: 80%;
  }
  .navBar {
    padding: 1em 0 !important;
  }
  .navItem {
    margin: 0 !important;
  }
}

@media (min-width: 300px) and (max-width: 736px) {
  .logo {
    position: absolute;
    left: 0;
  }
  .logo h1 {
    margin: 0 !important;
    font-size: 1em;
  }
  .logo svg {
    height: 2em !important;
    width: 3em !important;
  }
  .index {
    z-index: 0 !important;
  }
  .navBar {
    position: relative;
  }
  .navBar .btn a {
    font-size: .8em !important;
    padding: .8em !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 4em !important;
    height: 1.3em !important;
  }
  .navBar .signup a {
    padding: .9em !important;
  }
  .list {
    position: absolute;
    height: 100vh;
    width: 75vw;
    background-color: #213b4a;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .list .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 22%;
    top: 10%;
    margin: 0 !important;
  }
  .list .navList .navItem {
    padding: 1em;
  }
  .list .btns {
    position: absolute;
    right: 13%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 40%;
  }
  .list .btns a {
    margin-bottom: 1em;
    width: 10em !important;
    font-size: 1em !important;
  }
  .listBlock {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .popupB {
    z-index: 70;
  }
  .chooseB {
    z-index: 0 !important;
  }
  .ham {
    width: 2.5em;
    cursor: pointer;
    height: 1.3em;
    z-index: 420;
    position: absolute;
    right: .45em;
    top: 1em;
  }
  .ham span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: absolute;
    right: 30%;
    top: 30%;
  }
  .ham span:nth-child(2) {
    width: 60%;
    top: 63%;
  }
  .ham span:nth-child(3) {
    width: 50%;
    top: 100%;
  }
  .choose {
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choice {
    width: 24em !important;
  }
  .popup .Btn {
    font-size: 1.5em;
  }
  .cross svg {
    right: 5% !important;
  }
  .container {
    display: block;
    height: 100% !important;
  }
  .container .content {
    margin: 0 !important;
    height: 50%;
    text-align: center !important;
    margin-top: 7em !important;
  }
  .girl img {
    display: none !important;
  }
  .navCross {
    z-index: 420;
  }
  .navCross span {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: #FFF;
  }
  .navCross span:nth-child(1) {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
  .navCross span:nth-child(2) {
    opacity: 0;
  }
  .navCross span:nth-child(3) {
    width: 100%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@media (min-width: 360px) and (max-width: 646px) {
  .btns {
    margin-top: 3em;
  }
  .choice {
    width: 21em !important;
  }
  .text {
    padding: 1em !important;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .btns {
    margin-top: 4em !important;
    right: 3% !important;
  }
  .navList {
    right: 14% !important;
  }
  .text h1 {
    font-size: 1.4em !important;
  }
  .content {
    margin-top: 0px;
    height: 55%;
    margin-top: 6em !important;
  }
  .choice {
    width: 18em !important;
  }
  .popup .Btn {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */