@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    // background: #141E30;  /* fallback for old browsers */
    // background: linear-gradient(to right, #243B55, #141E30); 
    overflow: hidden;

}

.imgTop {
    background: url('../img/SVG/Top.svg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header {

    background-color: #2a6dfe;
    position: relative;
    z-index: 69;

    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        h1 {
            font-weight: 500;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;
            user-select: none;
            display: block;
            margin-left: .4em;
        }

        span {
            font-weight: 300;

        }

        .logoImg {
            display: flex;

            svg {
                height: 3em;
                width: 4em;
            }
        }


    }

    .navBar {
        display: flex;
        justify-content: space-around;
        padding: 1em;

        .navList {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;

            .navItem {
                display: block;
                margin-right: 2em;
            }

            .navItem a {
                text-decoration: none;
                color: #FFF;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                width: 100%;
                padding: 1em;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #FFF;
                    bottom: 0;
                    right: 0;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: all 200ms cubic-bezier(.68, -0.55, 0, 2.01);

                }

                &:hover {
                    &:after {
                        transition: all 200ms cubic-bezier(.68, -0.55, 0, 2.01);
                        transform: scaleX(1);
                    }
                }
            }
        }


        .btns {
            display: flex;
            align-items: center;
        }

        .btn {
            margin-right: 1em;

        }

        .btn a {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-decoration: none;
            color: #000;
            width: 100%;
            height: 100%;
            padding: .8em 2em;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.925);
            }
        }

        .login a {
            background-color: transparent;
            border: 2px solid #FFF;
            color: #FFF;

            &:hover {
                color: #000;
                background-color: #FFF;
                transition: all 200ms ease-in-out;
            }
        }

        .signup a {
            padding: .9em 2em;
        }
    }
}

.container {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    // .girl {
    //     background: url('/img/SVG/girlCar.svg') no-repeat;
    //     background-size: cover;
    //     height: 100%;
    //     width: 72%;
    //     position: fixed;

    // }

    .desc h3 {
        font-weight: bold;
    }

    .text h1 {
        font-weight: normal;
    }

    .girl {
        img {
            display: block;
            height: 42em;
            width: 50em;
        }

        animation: girl 1000ms ease-in-out;

    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 6em;
        justify-content: space-evenly;
        animation: content 1000ms ease-in-out;

    }

    .start .startBtn a {
        color: #FFF;
        text-decoration: none;
        border-radius: 40px;
        border: 2px solid #FFF;
        padding: .9em 2em;
        transition: all 200ms ease-in-out;


        &:hover {
            color: #000;
            background-color: #FFF;
            transition: all 200ms ease-in-out;
        }
    }
}






.popup {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    position: fixed;
    right: 0;
    top: -90%;
    z-index: 2;
    transition: all 200ms ease-in-out;

    .choose {
        position: relative;
        z-index: 69;
        width: 90%;
        height: 100%;
    }


    .Btn {
        text-decoration: none;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        position: relative;
        margin-right: 2em;
        display: block;
        padding-bottom: 1em;

        &::after {
            content: url('../img/SVG/right2.svg');
            position: absolute;
            right: 0;
            width: 1.2em;
            bottom: 28%;
            display: block;
            left: 100%;
            transition: all 200ms ease-in-out;
        }

        &:hover {
            &::after {
                left: 105%;
                transition: all 200ms ease-in-out;

            }
        }
    }

    .choice {
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 25em;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            top: 101%;
            position: absolute;
            background-color: rgb(29, 100, 233);
            transform: scaleX(0);
            transition: all 200ms ease-in-out;
        }

        &:hover {
            &::after {
                transform: scaleX(1);
                transition: all 200ms ease-in-out;
            }
        }
    }
}


.popupBlock {
    top: 0%;
    transition: all 200ms ease-in-out;

    .choose {
        top: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.cross {
    svg {
        position: absolute;
        z-index: 70;
        bottom: 80%;
        width: 1.5em;
        height: 1.5em;
        right: 20%;
        cursor: pointer;
        transform-origin: center;
        transform-box: fill-box;
        transition: all 200ms ease-in-out;
        padding: .5em;
        
        &:hover {
            transition: all 200ms ease-in-out;
            fill: #df4c41;
            transform: rotate(180deg);

        }
    }

}









@keyframes girl {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes content {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}