@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.wrapper {

    // background: url('../img/laura-dewilde-MTSq-eEqPmU-unsplash.jpg') no-repeat;
    // background-size: auto 100%;
    // position: relative;


    .logo {
        width: 100%;
        height: 100%;




        img {
            width: 20%;
            display: block;
            margin: 0 auto;
        }
        
        .brand {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
        }
    }


    .form {
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;


            input {
                height: 4em;

            }

            .sLabel {
                width: 100%;
                margin-bottom: 1em;
                position: relative;

                .border {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 4%;
                    background-color: #339bd9;
                    bottom: 0%;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all 200ms ease-in-out;
               
                }
                
                
                .clicked {
                    transform: scaleX(1) !important;
                    transition: all 200ms ease-in-out;
                }

            }

            input[type=text] {
                border: none;
                border-bottom: 1px solid rgb(168, 162, 162);
                width: 100%;
                background-color: transparent;
                &::placeholder {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                }
            }
            .sign,
            .log {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                height: 3em;
                border: 1px solid #000;
                border-radius: 10px;
                


            }
            .sign {
                background-color: none;
                font-weight: 700;
                transition: all 200ms ease-in-out;
                margin-bottom: 1em;
            }
            .log {
                border: none;
                color: #FFF;
                background-color: rgb(75, 139, 235);
            }
        }
    }

}