@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



/*-------- Tablet Media Queries ---------*/

$minTablet: 737px;
$maxTablet: 1200px;

@mixin tablet {
    @media (min-width: #{$minTablet}) and (max-width: #{$maxTablet}) {
        @content;
    }
}




/*-------- Desktop Media Queries ---------*/

$minDesktop: 1000px;
$maxDesktop: 3200px;

@mixin desktop {
    @media (min-width: #{$minDesktop}) and (max-width: #{$maxDesktop}) {
        @content;
    }
}

/*-------- Mobile Media Queries ---------*/

$minMobile: 300px;
$maxMobile: 736px;


@mixin mobile {
    @media (min-width: #{$minMobile}) and (max-width: #{$maxMobile}) {
        @content;
    }
}


/*-------- Other Mobile Media Queries ---------*/

$minMob: 360px;
$maxMob: 646px;


@mixin mob {
    @media (min-width: #{$minMob}) and (max-width: #{$maxMob}) {
        @content;
    }
}



$minMob2: 320px;
$maxMob2: 413px;


@mixin mob2 {
    @media (min-width: #{$minMob2}) and (max-width: #{$maxMob2}) {
        @content;
    }
}










*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;

}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.imgTop {
    background: url('../img/SVG/Top.svg') no-repeat;
    background-size: cover;
    // width: 100%;
    // height: 100%;
    margin-bottom: 3rem;
    height: 50rem;
}

.header {

    background-color: #273036;
    position: relative;
    z-index: 69;

    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        h1 {
            font-weight: 500;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;
            user-select: none;
            display: block;
            margin-left: .4em;
        }

        span {
            font-weight: 300;

        }




    }

    .logoImg {
        display: flex;

        svg {
            height: 3em;
            width: 4em;
        }
    }

    .navBar {
        display: flex;
        justify-content: space-around;
        padding: 1em 10em;


        .list {
            display: flex;
        }

        .navList {
            margin: 0;
            padding: 0;
            margin-right: 5em;
            list-style: none;
            display: flex;
            align-items: center;

            .navItem {
                display: block;
                margin-right: 1em;
            }

            .navItem a {
                text-decoration: none;
                color: #FFF;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                width: 100%;
                padding: 1em;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #FFF;
                    bottom: 0;
                    right: 0;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: all 200ms cubic-bezier(.68, -0.55, 0, 2.01);

                }

                &:hover {
                    &:after {
                        transition: all 200ms cubic-bezier(.68, -0.55, 0, 2.01);
                        transform: scaleX(1);
                    }
                }
            }
        }


        .btns {
            display: flex;
            align-items: center;
        }

        .btn {
            margin-right: 1em;
            white-space: nowrap;
        }

        .btn a {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            text-decoration: none;
            color: #000;
            width: 100%;
            height: 100%;
            padding: .8em 2em;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.925);
            }
        }

        .login a {
            background-color: transparent;
            border: 2px solid #FFF;
            color: #FFF;

            &:hover {
                color: #000;
                background-color: #FFF;
                transition: all 200ms ease-in-out;
            }
        }

        .signup a {
            padding: .9em 2em;
        }

        .logout {

            display: flex;
            justify-content: center;
            align-items: center;

            a {
                height: 42%;
            }
        }
    }
}

.container {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    // .girl {
    //     background: url('/img/SVG/girlCar.svg') no-repeat;
    //     background-size: cover;
    //     height: 100%;
    //     width: 72%;
    //     position: fixed;

    // }

    .desc h3 {
        font-weight: bold;
    }

    .text h1 {
        font-weight: normal;
    }

    .girl {
        img {
            display: block;
            height: 42em;
            width: 50em;
        }

        animation: girl 1000ms ease-in-out;

    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        animation: content 1000ms ease-in-out;
        height: 19em;
        margin-left: 3em;
        margin-top: 10em;

    }

    .start .startBtn a {
        color: #FFF;
        text-decoration: none;
        border-radius: 40px;
        border: 2px solid #FFF;
        padding: .9em 2em;
        transition: all 200ms ease-in-out;


        &:hover {
            color: #000;
            background-color: #FFF;
            transition: all 200ms ease-in-out;
        }
    }
}










.head {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    h2 {
        letter-spacing: 2px;
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.wrapper {

    width: 100%;





    .catalogue {
        width: 25rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 2em;
        box-shadow: 0px 1px 6px 0px #e3e0e0;
        border-radius: 15px;
        transition: all 200ms ease-in-out;

        &:hover {
            transition: all 200ms ease-in-out;
            box-shadow: 0px 1px 10px 0px #e3e0e0;
        }

        &:last-child {
            margin-bottom: 3em;
        }




        &:nth-child(2) {

            .top {
                svg {
                    fill: #171b1e !important;




                }

                .price,
                .title {
                    span {
                        color: rgb(255, 255, 255) !important;
                    }
                }
            }

            .request a {
                background-color: darken(#273036, 10%);
                color: #FFF;
                border-top-left-radius: 35px;
                border-bottom-right-radius: 35px;
                border: 2px solid darken(#273036, 10%);

                &:hover {
                    transform: scale(.95);
                    background-color: darken(#273036, 10%);
                    border: 2px solid darken(#273036, 10%);
                }
            }

        }

        .top {
            position: relative;

            .price,
            .title {
                span {
                    color: rgb(255, 255, 255) !important;
                }
            }

            &>svg {
                position: absolute;
                z-index: -1;
                fill: #273036 !important;
                border-radius: 15px 15px 0 0;
                transform: scaleY(1.12);
                transform-origin: top;


            }


        }

        // .services {
        //     margin-bottom: 2em;
        // }

        .top {
            margin-bottom: 4em;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 3em;
                width: 3em;
            }
        }

        .request {
            margin-bottom: 2em;
            margin-top: auto;
        }

        .title,
        .price,
        .request {
            text-align: center;
        }

        .price {
            margin-bottom: 1em;
        }

        .price span {
            font-size: 2em;
            font-weight: 600;
            color: #FFF;
        }

        .title {
            margin: 2em 0 .5em 0;
        }

        .title span {
            font-weight: 600;
            display: block;
            color: #FFF;
        }

        .items {

            .item {
                margin: 1em;


            }

            .svgWrap {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }

            padding: 0;
            margin: .5em;
            text-align: center;
            font-weight: 500;
        }

        .request a {
            border-radius: 5px;
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px;
            text-decoration: none;
            color: #273036;
            background-color: #ffffff;
            padding: 1em 1.5em;
            border: 2px solid #273036;
            transition: all 200ms ease-in-out;
            transform: scale(1);
            display: flex;
            width: 50%;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            font-weight: 600;


            &:hover {
                transform: scale(.97);
                transition: transform 200ms ease-in-out;
                background-color: #273036;
                border: 2px solid #273036;

                color: #FFF;
            }
        }
    }
}




.featureSection {
    margin-top: 9rem;
}

.features {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 8rem;
    width: 100%;
    justify-content: space-around;
    position: relative;
    color: #FFF;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100vw;
        height: 140%;
        background-color: #1e2020;
        z-index: -2;
        right: 50%;
        transform: translateX(50%) skewY(-1deg);

    }


    .feature {
        width: 20.5rem;
        padding: 5rem 1rem;
        border-radius: 10px;
        transition: all 200ms ease-in-out;
        position: relative;
        padding-bottom: 1rem;
        height: 17rem;
        background-color: #1e2020;


        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background-color: #ffffff;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 10px;
            transform: rotate(10deg);
            transition: all 200ms ease-in-out;
        }
        
        &:hover {
            background-color: #FFF;
            color: #000;
            transition: background-color 500ms ease-in-out !important;

            &::after {
                transition: all 200ms ease-in-out;
                transform: rotate(0deg);
            }

            .icon svg path {
                fill: #000;
            }
        }




        .icon {
            height: 3rem;
            width: 3rem;
            margin: 1rem auto;

            svg {
                height: 100%;
                width: 100%;

                path {
                    fill: #FFF;
                }
            }
        }

        .featureName {
            width: 100%;
            margin-bottom: 1rem;

            &>p {
                text-align: center;
                font-weight: 500;
                font-size: 1.3rem;
            }
        }

        .featureText {
            width: 100%;

            &>p {
                opacity: .6;
                text-align: center;
            }
        }
    }

}



.reviewSection {
    margin-top: 14rem;
}

.reviews {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 15rem;
    width: 100%;
    justify-content: space-around;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100vw;
        height: 200%;
        background-color: #fbfcfc;
        z-index: -2;
        right: 50%;
        transform: translateX(50%) skewY(1deg);

    }

    .review {
        width: 20.5rem;
        background-color: #FFF;
        padding: 5rem 3rem;
        border-radius: 10px;
        transition: all 200ms ease-in-out;
        position: relative;
        padding-bottom: 1rem;
        color: rgb(0, 0, 0);
        box-shadow: 0px 0px 7px -5px #000;
        height: 17rem;
        // &:hover {
        //     transition: all 200ms ease-in-out;
        //     box-shadow: -2px -2px 1px 1px #333232;
        // }


        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background-color: #201e29;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 10px;
            transform: rotate(10deg);
            transition: all 200ms ease-in-out;
        }

        &:hover {
            &::after {
                transform: rotate(-10deg);
                transition: all 200ms ease-in-out;
            }
        }
    }

    .userImg {
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50%, -50%);

        &>img {
            width: 100%;
            background-color: rgb(78, 78, 78);
            border-radius: 100%;
        }
    }

    .username,
    .fullName {
        text-align: center;
        font-weight: 500;
    }

    .username {
        &>p {
            font-size: 2rem;
        }
    }

    .fullName {
        &>p {
            font-size: 1rem;
            color: rgb(187, 186, 186);
        }
    }

    .quoteSvg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .7rem;

        svg {
            height: 3rem;
            width: 3rem;

            padding: 1rem;

            path {
                fill: rgb(0, 0, 0);
            }

        }
    }


    .feedback {
        position: relative;
        font-weight: 500;
        // &::before {
        //     content: '“';
        //     display: block;
        //     position: absolute;
        //     right: 50%;
        //     font-size: 10rem;
        //     transform: translateX(50%);
        //     font-weight: 400;

        //     color: rgb(48, 44, 44);
        // }

        &>p {
            width: 20.5rem;
            height: 3rem;
            min-width: 20.5rem;
            min-height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }



    .rating {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .star {
        &>svg {
            width: 1rem;
            height: 1rem;

            &>path {
                fill: #000000;
            }
        }
    }

    .rt-1 {
        .star {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: none;
            }
        }
    }

    .rt-2 {
        .star {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }
    }

    .rt-3 {
        .star {

            &:nth-child(1),
            &:nth-child(2) {
                display: none;
            }
        }
    }

    .rt-4 {
        .star {
            &:nth-child(1) {
                display: none;
            }
        }
    }

}







.footerWrapper {
    position: relative;
    height: 30rem;


    &::after {
        content: '';
        background-color: #1a1f22;
        position: absolute;
        width: 100%;
        height: 7.2rem;
        bottom: -11%;
        right: 0;
        z-index: -1;
    }

    &>footer {
        width: 90%;
    }

}


footer {
    color: #FFF;
    background-color: #1a1f22;
    transform: skewY(-1.667deg);
    width: 100%;
    padding: 5rem;
    position: absolute;


    section {
        transform: skewY(1.667deg);
        width: 80%;
        margin: 0 auto;

        .topText {
            h2 {
                font-size: 3rem;
            }
        }

        .bottomText {
            margin-top: 1rem;

            h4 {
                font-weight: 500;
                font-size: 1.3rem;
            }
        }

        .mid {
            margin-top: 4rem;

            .prt {
                display: flex;
                margin-top: 2rem;

                div {
                    display: flex;
                    align-items: center;
                    width: 25rem;
                    cursor: pointer;

                    &:last-child {
                        margin-left: 7rem;
                    }

                    &:hover {
                        p {
                            color: #FFF;
                        }
                    }

                    p {
                        font-size: 1.5rem;
                        font-weight: 600;
                        font-weight: 600;
                        color: rgba(255, 255, 255, 0.555);

                        span {
                            font-weight: 700;
                        }
                    }

                    svg {
                        height: 2.5rem;
                        width: 2.5rem;
                        margin-right: 1rem;
                    }

                }



                .phone svg {
                    fill: #ed5f0d;
                }

                .mail svg {
                    fill: #00ef54;
                }

                .location svg {
                    fill: #f0f;
                }

                .facebook svg {
                    fill: #0074FF;
                }

                .instagram svg {
                    fill: #d5664c;
                }

                .twitter svg {
                    fill: #00d2ff;
                }



            }
        }

    }

    //     .rest {
    //         background-color: #1a1f22;
    // position: absolute;
    // width: 100%;
    // height: 3.2rem;
    // bottom: -6%;
    // transform: skewY(1.667deg);
    // right: 0;
    //     }



}



@keyframes girl {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes content {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}











@include tablet {

    .girl {
        img {
            height: 38em !important;
            width: 27em !important;
        }
    }

    .btn {
        white-space: nowrap;


    }

    .login.btn {
        a {
            padding: .8em 1em !important;
        }
    }

    .signup.btn {
        a {
            padding: .9em 1em !important;
        }
    }

    .choose {
        flex-direction: column;
        width: 100% !important;
    }

    .content {
        margin: 0 !important;
        margin-left: 1em !important;
        height: 27em !important;
        margin-top: 6em !important;
    }

    .cross {
        svg {
            right: 4%;
            bottom: 80%;
        }
    }

    .navBar {
        padding: 1em 0 !important;

    }


    .navItem {
        margin: 0 !important;

        a {
            font-size: .9rem !important;
        }
    }

    .navList {
        margin-right: 1em !important;
    }

    .head {
        h2 {
            text-align: center;
            font-size: 2.3rem !important;
        }
    }

    .features {
        flex-direction: column !important;

        &::after {
            margin-top: 32rem !important;
        }
    }

    .feature {
        margin-bottom: 5rem !important;

    }

    .reviewSection {
        margin-top: 6rem !important;
    }

    .reviews {
        flex-direction: column !important;
        margin-bottom: 3rem !important;

        &::after {
            height: 130% !important;
        }
    }

    .review {
        margin-bottom: 5rem !important;
    }


    .footerWrapper {
        &::after {
            top: 110% !important;
        }
    }

    footer {
        section {
            margin: 0 !important;



            .mid {
                width: 111% !important;

                .prt {
                    div>p {
                        font-size: 1.2rem !important;
                    }

                    div {
                        white-space: nowrap;
                    }
                }

                .phone,
                .location,
                .mail {
                    width: 32rem !important;
                }


                .twitter {
                    margin-left: 5rem !important;
                }

                .instagram {
                    margin-left: 8.5rem !important;
                }
            }
        }
    }
}
































@include mobile {


    .logo {
        position: absolute;
        left: 0;

        h1 {
            margin: 0 !important;
            font-size: 1em;
        }

        svg {
            height: 2em !important;
            width: 3em !important;
        }
    }

    .index {
        z-index: 0 !important;
    }

    .navBar {
        position: relative;


        .btn a {
            font-size: .8em !important;
            padding: .8em !important;
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 4em !important;
            height: 1.3em !important;
        }

        .signup a {
            padding: .9em !important;
        }


    }

    .list {
        position: absolute;
        height: 100vh;
        width: 75vw;
        background-color: #213b4a;
        right: 0;
        top: 0;
        transform: scaleX(0);
        opacity: 0;
        transition: all 200ms ease-in-out;
        transform-origin: right;

        .navList {
            flex-direction: column;
            position: absolute;
            right: 26%;
            top: 10%;
            //display: none !important;
            margin: 0 !important;

            .navItem {
                padding: 1em;
            }
        }

        .btns {
            position: absolute;
            right: 18%;
            flex-direction: column;
            top: 40%;

            a {
                margin-bottom: 1em;
                width: 10em !important;
                font-size: 1em !important;
            }
        }


    }

    .listBlock {
        transform: scaleX(1);
        opacity: 1;
        transition: all 200ms ease-in-out;
    }

    .popupB {
        z-index: 70;
    }

    .chooseB {
        z-index: 0 !important;
    }



    .ham {
        width: 2.5em;
        cursor: pointer;
        height: 1.3em;
        z-index: 420;
        position: absolute;
        right: .45em;
        top: 1em;

        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: rgb(255, 255, 255);
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            position: absolute;
            right: 30%;
            top: 30%;

            &:nth-child(2) {
                width: 60%;
                top: 63%;
            }

            &:nth-child(3) {
                width: 50%;
                top: 100%;
            }
        }
    }

    .choose {
        width: 100% !important;
        flex-direction: column;
    }

    .choice {
        width: 24em !important;
    }

    .popup {
        .Btn {
            font-size: 1.5em;
        }
    }

    .cross {
        svg {
            right: 5% !important;
        }
    }

    .container {
        display: block;
        height: 100% !important;

        .content {
            margin: 0 !important;
            height: 50%;
            text-align: center !important;
            margin-top: 7em !important;
        }
    }

    .girl {

        img {
            display: none !important;
        }
    }

    .navCross {

        z-index: 420;

        span {
            transition: all 300ms ease-in-out;
            background-color: #FFF;

            &:nth-child(1) {
                transform: rotate(130deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                width: 100%;
                transform: rotate(40deg);
            }
        }
    }

    .head {
        h2 {
            text-align: center;
            font-size: 2rem !important;
        }
    }

    .features {
        flex-direction: column !important;

        &::after {
            margin-top: 32rem !important;
        }
    }

    .feature {
        margin-bottom: 5rem !important;

    }



    .reviewSection {
        margin-top: 6rem !important;
    }

    .reviews {
        flex-direction: column !important;
        margin-bottom: 3rem !important;

        &::after {
            height: 130% !important;
        }
    }

    .review {
        margin-bottom: 5rem !important;
        height: 15rem !important;
        width: 19rem !important;


        .userImg {
            height: 5rem !important;
            width: 5rem !important;
        }
    }

    footer {
        padding: 0;
        width: 100% !important;

        section {
            width: 100% !important;
        }

        .point {
            .bottomText {
                h4 {
                    font-size: 1rem !important;
                    line-height: 2rem;
                }
            }

            margin-left: .8rem !important;
            margin-top: 1.5rem !important;
        }

        .mid {
            width: 100%;
            margin-top: 1.5rem !important;
            margin-left: .8rem !important;

            .prt {
                flex-direction: column;
                margin-top: 0 !important;

                p {
                    font-size: 1.1rem !important;
                }

                div {
                    &:last-child {
                        margin-left: 0 !important;
                    }

                    margin-top: .8rem;

                    svg {
                        height: 1.7rem !important;
                        width: 1.7rem !important;
                    }
                }
            }
        }
    }

    #about {
        &::after {
            bottom: -22%;
        }
    }

}


@include mob {

    .btns {
        margin-top: 3em;
    }

    .choice {
        width: 21em !important;
    }

    .text {
        padding: 1em !important;
    }
}


@include mob2 {
    .btns {
        margin-top: 4em !important;
        right: 3% !important;
    }

    .navList {
        right: 14% !important;
    }

    .text h1 {
        font-size: 1.4em !important;
    }


    .content {
        margin-top: 0px;
        height: 55%;
        margin-top: 6em !important;
    }

    .choice {
        width: 18em !important;
    }

    .popup .Btn {
        font-size: 1.2em;
    }
}





@include desktop {


    .wrapper {
        display: flex;
        justify-content: center;
        height: initial;
        height: 90%;

        .top {
            margin: 0 !important;
        }
    }

    .catalogue {
        justify-content: start !important;
        width: 25% !important;
        margin: 1em !important;
        border-radius: 20px;
        align-self: center;
        height: 80%;
        transition: all 200ms ease-in-out;



        &:nth-child(2) {
            transform: scale(1.1);
            margin: 2em !important;
        }



        .services {
            margin-top: 2.5em !important;
        }

        .request {

            margin-top: 1em;

            a {
                font-weight: 600;
                padding: 1em 3em !important;
            }
        }
    }


}