body {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	color: #5d5f69;
	background-color: #f4f4f4;

}

button {
	border: none;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	background-size: cover;
}

.icon {
	margin: 2.5em;
}
.reservation {
	position: relative;
	width: 360px;
	margin:  auto;
	padding: 75px 80px 65px;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 40px 60px -30px #1757B8;
	background-image: url(back.svg);
	background-repeat: no-repeat;
	border-radius: 30px;
}

.type_lavage {
	margin: -13.5em 1.2em 4em;
	font-weight: 550;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
}

.type_lavage::before {
	content: "";
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto 1.5em;
	
}


.reservation-form input {
	border: none;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
	text-transform: uppercase;
	vertical-align: top;
}

.reservation-form__date input {
	letter-spacing: -2px;
}

.reservation-form input#date {
	width: 115px;
}

.reservation-form input#time {
	width: 60px;
}

.reservation-form__date span {
	font-weight: 700;
	line-height: 1;
	vertical-align: middle;
}

.reservation-form label {
	display: inline-block;
	margin: 1em 0 .7em;
}

.reservation-form__date label {
	margin-top: 2em;
}

.reservation-form input#count {
	width: 100px;
	height: 100px;
	padding-left: 50px;
	font-weight: 700;
	font-size: 100px;
}

.reservation-form__count button {
	height: 90px;
	padding: 10px;
	font-size: 36px;
	line-height: 80px;
}

.reservation-form button#submit {
	width: 100%;
	margin-top: 4em;
	padding: 32px 0;
	border-radius: 15px;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	background-color: #1757B8;
	color: #fff;
	box-shadow: 0 20px 40px -10px #186BD1;
}

.resrvation-form__type {
   font-size: 13px;
   padding: 10px 8px 10px 14px;
   background: #fff;
   border: 1px solid #ccc;
   border-radius: 6px;
   overflow: hidden;
   position: relative;
}

.reservation-form__type select{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1;
  border: 1px solid #ccc;
  padding: 5px 10px 3px;
  border-radius: 10px;
  width: 50%;
  position: relative;
  z-index: 10;
  font-size: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background:url('arrow.png') no-repeat;
  background-position:95% center;
}
