@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*-------- Mobile Media Queries ---------*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100vw;
}

header section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #273036;
  color: #FFF;
}

header section div {
  height: 100%;
}

header section div:first-child {
  margin-left: 1em;
}

.header_1 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_1 .logo h1 {
  font-weight: 500;
}

.header_1 .logo h1 span {
  font-weight: 300;
}

.header_1 .logoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_1 .logoImg svg {
  height: 3em;
  width: 4em;
}

.header_1 .userInfo {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.header_1 .userInfo .disconnect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_1 .userInfo .disconnect .username {
  margin-left: 1em;
  font-weight: 600;
  font-size: .9em;
}

.header_1 .userInfo .disconnect .username span {
  font-weight: 500;
  font-size: .85em;
  color: #e9e5e5;
  display: inline-block;
  margin-right: .5em;
}

.header_1 .userInfo .disconnect .triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: .3em;
}

.header_1 .userInfo .disconnect .triangle svg {
  width: .8em;
  height: .8em;
}

.header_1 .userInfo .disconnect .triangle svg path {
  fill: #FFF;
}

.header_1 .userInfo .disconnect .logout > a:nth-child(4) > span:nth-child(2) {
  display: block;
  margin-right: 1.5rem;
}

.header_1 .userInfo .disconnect .logout {
  position: absolute;
  top: 124%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 1;
}

.header_1 .userInfo .disconnect .logout a {
  font-weight: 500;
  padding: .7em .5em;
  display: block;
  font-size: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #000;
  width: 4rem;
  height: 4rem;
  position: relative;
  left: 20rem;
}

.header_1 .userInfo .disconnect .logout a:nth-child(1) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.header_1 .userInfo .disconnect .logout a:nth-child(2) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.header_1 .userInfo .disconnect .logout a:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.header_1 .userInfo .disconnect .logout a:nth-child(4) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header_1 .userInfo .disconnect .logout a:hover .sVg {
  right: 150%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header_1 .userInfo .disconnect .logout a:hover span {
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.header_1 .userInfo .disconnect .logout a span {
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  white-space: nowrap;
  font-weight: 600;
}

.header_1 .userInfo .disconnect .logout a .sVg {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #273036;
  border-radius: 100%;
  padding: .7rem;
  position: absolute;
  right: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header_1 .userInfo .disconnect .logout a .sVg svg {
  display: block;
  height: 4rem !important;
  width: 4rem !important;
  margin: 0 !important;
}

.header_1 .userInfo .disconnect .logout a .sVg svg path {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 10;
}

.header_1 .userInfo .disconnect .displayLog a {
  left: 12.5rem;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(1) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(2) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(4) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header_1 .userInfo .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: navajowhite;
  border-radius: 100%;
  margin-left: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header_1 .userInfo .img img {
  display: block;
  width: 2.4em;
  height: 2.4em;
  border-radius: 100%;
}

.header_1 .popUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header_1 .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header_1 .notifications svg {
  height: 1rem;
  width: 1rem;
}

.header_1 .notifications svg path {
  fill: #FFF;
}

.header_2 .title {
  font-weight: 500;
}

.header_2 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
  margin-right: 1em;
}

.header_2 .right div {
  margin-left: 1em;
  opacity: .7;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}

.wrapper .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15em;
  height: 15em;
  margin: 0 auto;
  background-color: wheat;
  border-radius: 100%;
  position: relative;
  margin-right: 2rem;
}

.wrapper .imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
}

.wrapper .imgContainer:hover .modify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .imgContainer #file {
  display: none;
}

.wrapper .imgContainer .file_label {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
}

.wrapper .imgContainer .modify {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  z-index: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(219, 216, 216, 0.205);
  display: none;
  cursor: pointer;
}

.wrapper .imgContainer .modify svg {
  height: 5rem;
  width: 5rem;
}

.formContainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 1.5em;
}

.formContainer .form {
  width: 100%;
}

.formContainer .form div label:first-child {
  margin-right: 2em;
}

.formContainer .form .input {
  border: none;
  border-bottom: 1px solid #dfdcdc;
  width: 100%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-top: 2em;
  cursor: pointer;
}

.formContainer .form .input:focus {
  outline: none;
}

.formContainer .form input[type=text],
.formContainer .form input[type=password],
.formContainer .form input[type=tel] {
  height: 4em;
}

.formContainer .form .textarea {
  overflow: hidden;
  resize: none;
  padding: 0;
  margin-top: 2em;
  font-size: .9em;
}

.formContainer .form input[type=password] {
  opacity: .6;
}

.formContainer .form .label {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.formContainer .form .label::after {
  content: url("../img/update.svg");
  position: absolute;
  display: block;
  width: .8rem;
  height: .8rem;
  right: 0;
  top: 50%;
  opacity: .2;
}

.formContainer .form .label:hover::after {
  opacity: 1;
}

.formContainer .form .label:hover .show::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formContainer .form .label .show {
  position: relative;
}

.formContainer .form .label .show::after {
  content: url("../img/show.svg");
  position: absolute;
  width: 1.5rem;
  height: 2.5rem;
  right: 1.5rem;
  bottom: -.1rem;
  opacity: 1;
  cursor: pointer;
  z-index: 69;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer .form .label .hide::after {
  content: url("../img/hide.svg") !important;
}

.formContainer .form .label .border {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3d7b7d;
  bottom: 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formContainer .form .label .text {
  font-weight: 500;
  color: #b4b3b3;
  font-size: .8em;
  position: absolute;
  top: 1.7rem;
  pointer-events: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  left: 0;
}

.formContainer .form .label .focus {
  top: .6rem;
  font-size: .7em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formContainer .form .label .clicked {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formContainer .form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formContainer .form .info div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formContainer .form .fullName,
.formContainer .form .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formContainer .form .error {
  display: block;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: .7em;
  color: #ff0000b3;
  width: 100%;
}

.formContainer .form .errorTrue {
  border-bottom: 2px solid #eb5151 !important;
}

.svg {
  width: 100%;
  position: fixed;
  bottom: -1%;
  z-index: -1;
  pointer-events: none;
}

.alerts {
  position: relative;
  bottom: 10%;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-weight: 600;
  opacity: 0;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  color: #0d1c37;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
}

.updated {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.updated::before {
  content: url("../img/check.svg");
  display: block;
  -webkit-transform: scale(0.05);
          transform: scale(0.05);
  position: absolute;
  right: 30%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.success {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.success::before {
  content: url("../img/check.svg");
  display: block;
  -webkit-transform: scale(0.05);
          transform: scale(0.05);
  position: absolute;
  right: 35%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrong {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 1;
  color: #dd4949;
}

.wrong::before {
  content: url("../img/close.svg");
  display: block;
  -webkit-transform: scale(0.05);
          transform: scale(0.05);
  position: absolute;
  right: 40%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (min-width: 300px) and (max-width: 736px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgContainer {
    width: 8rem !important;
    height: 8rem !important;
    margin: 2rem auto !important;
  }
  .imgContainer .modify svg {
    height: 3rem !important;
    width: 3rem !important;
  }
  .formContainer {
    width: 90% !important;
  }
}

@-webkit-keyframes show {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes show {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=style.css.map */