@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.headerWrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1a1f22;
  z-index: 6;
}

.headerWrapper .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.headerWrapper .headerLogo h1 {
  font-weight: 500;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin-left: .4em;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.headerWrapper .headerLogo span {
  font-weight: 300;
}

.headerWrapper .logoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerWrapper .logoImg svg {
  height: 3em;
  width: 4em;
}

.headerWrapper .logoImg svg path {
  fill: #FFF;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.formWrapper {
  margin: 0 auto;
  height: 100%;
}

.formWrapper .title h1 {
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.formWrapper form {
  width: 60rem;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
}

.formWrapper form > div {
  height: 5rem;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.formWrapper form > div > p {
  width: 17rem;
  font-weight: 500;
  display: block;
  position: relative;
}

.formWrapper form > div > p::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #1a1f22;
  height: 0.15rem;
  width: 30%;
  top: 100%;
  position: absolute;
  top: 1.5rem;
}

.formWrapper form > div > div {
  margin-left: 1rem;
}

.formWrapper form .lavageDisponible .svg svg,
.formWrapper form .vehiculeDisponible .svg svg,
.formWrapper form .quantityWrapper .svg svg,
.formWrapper form .date .svg svg {
  height: 3rem;
  width: 3rem;
}

.formWrapper form .lavageDisponible .svgText,
.formWrapper form .vehiculeDisponible .svgText,
.formWrapper form .quantityWrapper .svgText,
.formWrapper form .date .svgText {
  margin-left: 1rem;
  font-weight: 500;
  width: 4rem;
}

.formWrapper form .lavageDisponible .lavage,
.formWrapper form .lavageDisponible .vehicule,
.formWrapper form .vehiculeDisponible .lavage,
.formWrapper form .vehiculeDisponible .vehicule,
.formWrapper form .quantityWrapper .lavage,
.formWrapper form .quantityWrapper .vehicule,
.formWrapper form .date .lavage,
.formWrapper form .date .vehicule {
  margin-right: 2rem;
}

.formWrapper form .lavageDisponible .label,
.formWrapper form .vehiculeDisponible .label,
.formWrapper form .quantityWrapper .label,
.formWrapper form .date .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0.4em 2em;
  width: 11rem;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid #f0eded;
  border-radius: 43px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper form .lavageDisponible .label:hover,
.formWrapper form .vehiculeDisponible .label:hover,
.formWrapper form .quantityWrapper .label:hover,
.formWrapper form .date .label:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper form .lavageDisponible .label:hover .svg svg,
.formWrapper form .vehiculeDisponible .label:hover .svg svg,
.formWrapper form .quantityWrapper .label:hover .svg svg,
.formWrapper form .date .label:hover .svg svg {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.formWrapper form .lavageDisponible .checked,
.formWrapper form .vehiculeDisponible .checked,
.formWrapper form .quantityWrapper .checked,
.formWrapper form .date .checked {
  background-color: #1a1f22;
  border: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.formWrapper form .lavageDisponible .checked:hover,
.formWrapper form .vehiculeDisponible .checked:hover,
.formWrapper form .quantityWrapper .checked:hover,
.formWrapper form .date .checked:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.formWrapper form .lavageDisponible .checked .svgText,
.formWrapper form .vehiculeDisponible .checked .svgText,
.formWrapper form .quantityWrapper .checked .svgText,
.formWrapper form .date .checked .svgText {
  color: #FFF;
}

.formWrapper form .lavageDisponible input[name=lavage],
.formWrapper form .lavageDisponible input[name=vehicule],
.formWrapper form .vehiculeDisponible input[name=lavage],
.formWrapper form .vehiculeDisponible input[name=vehicule],
.formWrapper form .quantityWrapper input[name=lavage],
.formWrapper form .quantityWrapper input[name=vehicule],
.formWrapper form .date input[name=lavage],
.formWrapper form .date input[name=vehicule] {
  display: none;
}

.formWrapper form .prixLavage {
  width: 14rem;
  margin: 0;
}

.formWrapper form .prixLavage h2 {
  text-align: center;
  font-weight: 500;
}

.formWrapper form .quantityWrapper .nbVehicules {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formWrapper form .quantityWrapper .nbVehicules input {
  font-size: 3rem;
  font-weight: 600;
  width: 4rem;
  margin: 1rem;
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.formWrapper form .quantityWrapper .nbVehicules button {
  font-weight: 600;
  font-size: 2.5rem;
  background-color: white;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.formWrapper form .horodatage .timestampWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -5rem;
}

.formWrapper form .horodatage .label {
  border: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
  margin-left: 3rem;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formWrapper form .horodatage .label:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.formWrapper form .horodatage .label svg {
  height: 3rem;
  width: 3rem;
}

.formWrapper form .horodatage .label input {
  border-bottom: 2px solid black;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: .7rem;
  margin-left: 2rem;
}

.formWrapper form .localisation .input {
  border: none;
  border-bottom: 2px solid #dfdcdc;
  width: 39rem;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-top: 2em;
  height: 5em;
  resize: none;
  overflow: hidden;
  color: #102335;
}

.formWrapper form .localisation .input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: .9rem;
  color: #9e9c9c;
}

.formWrapper form .localisation .input:-ms-input-placeholder {
  font-weight: 500;
  font-size: .9rem;
  color: #9e9c9c;
}

.formWrapper form .localisation .input::-ms-input-placeholder {
  font-weight: 500;
  font-size: .9rem;
  color: #9e9c9c;
}

.formWrapper form .localisation .input::placeholder {
  font-weight: 500;
  font-size: .9rem;
  color: #9e9c9c;
}

.formWrapper form .localisation .input:focus {
  outline: none;
}

.formWrapper form .localisation .Label {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.formWrapper form .localisation .Label .border {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #273036;
  bottom: 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper form .localisation .Label .focus {
  top: .6rem;
  font-size: .7em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper form .localisation .Label .clicked {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper form .demande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: auto !important;
}

.formWrapper form .demande button {
  border-radius: 5px;
  height: 70%;
  width: 25%;
  color: #FFF;
  background-color: #121618;
  font-weight: 600;
  font-size: 1.1rem;
  border: 2px solid #121618;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.formWrapper form .demande button:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper form .total .prix h2 {
  font-weight: 600;
  letter-spacing: 2px;
  height: 100%;
  font-size: 2rem;
  color: #26272c;
}
/*# sourceMappingURL=style.css.map */