@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100%;
}

.headerWrapper {
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
}

.headerWrapper .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.headerWrapper .headerLogo h1 {
  font-weight: 500;
  color: #273036;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin-left: .4em;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.headerWrapper .headerLogo span {
  font-weight: 300;
}

.headerWrapper .logoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerWrapper .logoImg svg {
  height: 3em;
  width: 4em;
}

.headerWrapper .logoImg svg path {
  fill: #273036;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 5rem);
}

.main > section {
  width: 50%;
}

.section_1 {
  background-color: #2b3342;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_1 .titre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  padding-bottom: 1rem;
}

.section_1 .titre > h1 {
  text-align: center;
  height: 3rem;
  letter-spacing: 1px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
  font-size: 2.5rem;
}

.section_1 .titre .img {
  height: 4rem;
  width: 4rem;
}

.section_1 .titre .img > svg {
  height: 100%;
  width: 100%;
}

.section_1 .userInfo {
  margin-right: 6rem;
}

.section_1 .userInfo .top {
  margin-bottom: .6rem;
}

.section_1 .userInfo .top p {
  font-weight: 600;
}

.section_1 .userInfo .bottom p {
  font-weight: 500;
  font-size: 0.9rem;
  opacity: .8;
}

.section_1 .userInfo > div {
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
}

.section_1 .userInfo .mailPhone,
.section_1 .userInfo .lavageVehicule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_1 .userInfo .mailPhone .phone,
.section_1 .userInfo .mailPhone .typeVehicule,
.section_1 .userInfo .lavageVehicule .phone,
.section_1 .userInfo .lavageVehicule .typeVehicule {
  margin-left: 9rem;
}

.section_1 .userInfo .mailPhone .mail,
.section_1 .userInfo .mailPhone .typeLavage,
.section_1 .userInfo .lavageVehicule .mail,
.section_1 .userInfo .lavageVehicule .typeLavage {
  width: 12rem;
}

.section_1 .paimentDetail {
  width: 75%;
}

.section_1 .paimentDetail > div {
  padding: 1.6rem;
  padding-left: 2rem !important;
}

.section_1 .paimentDetail .texte {
  padding: .2rem;
}

.section_1 .paimentDetail .texte p {
  font-weight: 500;
  font-size: 1.7rem;
}

.section_1 .paimentDetail .total {
  padding: .3rem;
}

.section_1 .paimentDetail .total p {
  font-weight: 600;
  font-size: 2rem;
}

.section_2 {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_2 .formWrapper {
  -webkit-box-shadow: 3px 3px 1px 1px #757373;
          box-shadow: 3px 3px 1px 1px #757373;
  padding: 3em;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section_2 .formWrapper:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: -3px -3px 1px 1px #333232;
          box-shadow: -3px -3px 1px 1px #333232;
}

.section_2 .formHeader {
  width: 100%;
  margin-bottom: 1rem;
}

.section_2 .formHeader .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.section_2 .formHeader .logo svg {
  height: 5rem;
  width: 5rem;
  margin-right: .6rem;
}

.section_2 .formHeader .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_2 .formHeader .title h1 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
}

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  cursor: pointer;
  float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.creditcard .lightblue {
  fill: #03A9F4;
}

.creditcard .lightbluedark {
  fill: #0288D1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #071c18db;
}

.creditcard .greydark {
  fill: #071c18;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}

#cardback .st12 {
  font-weight: 500;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.log {
  border: none;
  color: #FFF;
  background-color: #273036;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  border-radius: 2px;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1em;
}

.log:hover, .log:focus {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  background-color: #121618;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.label {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.label::after {
  content: url("../img/update.svg");
  position: absolute;
  display: block;
  width: .8rem;
  height: .8rem;
  right: 0;
  top: 50%;
  opacity: .2;
}

.label:hover::after {
  opacity: 1;
}

.label:hover .show::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label .show {
  position: relative;
}

.label .show::after {
  content: url("../img/show.svg");
  position: absolute;
  width: 1.5rem;
  height: 2.5rem;
  right: 1.5rem;
  bottom: -.1rem;
  opacity: 1;
  cursor: pointer;
  z-index: 69;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label .hide::after {
  content: url("../img/hide.svg") !important;
}

.label .border {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #273036;
  bottom: 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.label .text {
  font-weight: 500;
  color: #b4b3b3;
  font-size: .8em;
  position: absolute;
  top: 1.7rem;
  pointer-events: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  left: 0;
}

.label .focus {
  top: .6rem;
  font-size: .7em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.label .clicked {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.input {
  border: none;
  border-bottom: 1px solid #dfdcdc;
  width: 100%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-top: 2em;
  cursor: pointer;
  height: 4em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input:focus {
  outline: none;
}

.error {
  display: block;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: .8em;
  color: #ff0000b3;
  width: 100%;
}

.errorTrue {
  border-bottom: 2px solid #eb5151 !important;
}

.cardNumberError .border {
  background-color: #dd5a5a;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom > .label {
  width: 45%;
}
/*# sourceMappingURL=style.css.map */