@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*-------- Desktop Media Queries ---------*/
/*-------- Tablet Media Queries ---------*/
/*---------------------------------------------------  Mobile  --------------------------------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .logo img {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.wrapper .logo .brand {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.wrapper .form form input {
  height: 4em;
}

.wrapper .form form .sLabel {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
}

.wrapper .form form .sLabel .border {
  display: block;
  position: absolute;
  width: 100%;
  height: 4%;
  background-color: #339bd9;
  bottom: -1%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper .form form .sLabel .clicked {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper .form form input[type=text] {
  border: none;
  border-bottom: 1px solid #a8a2a2;
  width: 100%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.wrapper .form form input[type=text]::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.wrapper .form form input[type=text]:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.wrapper .form form input[type=text]::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.wrapper .form form input[type=text]::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.wrapper .form form input[type=text]:focus {
  outline: none;
}

.wrapper .form form .sign,
.wrapper .form form .log {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  height: 3em;
  border: 1px solid #000;
  border-radius: 2px;
  margin-top: 3em;
}

.wrapper .form form .log {
  border: none;
  color: #FFF;
  background-color: #4b8beb;
  margin-top: 1em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper .form form .log:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #1d6de6;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.mobileNav .hamburger {
  width: 2.5em;
  cursor: pointer;
  height: 1.3em;
  z-index: 3;
  position: absolute;
  right: .45em;
  top: 1em;
}

.mobileNav .hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 30%;
  top: 30%;
}

.mobileNav .hamburger span:nth-child(2) {
  width: 60%;
  top: 63%;
}

.mobileNav .hamburger span:nth-child(3) {
  width: 50%;
  top: 100%;
}

.mobileNav .cross span {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.mobileNav .cross span:nth-child(1) {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.mobileNav .cross span:nth-child(2) {
  opacity: 0;
}

.mobileNav .cross span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.nav {
  width: 50%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  background-color: rgba(67, 138, 185, 0.712);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.nav .navList {
  padding: 0;
  margin: 0;
  margin-top: 18rem;
  width: 100%;
  height: 100%;
}

.nav .navList .navItem {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav .navList .navItem:hover .navLink {
  color: #000;
  background-color: #FFF;
}

.nav .navList .navItem .navLink {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: #FFF;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.navBlock {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/*---------------------------------------------------  Desktop  --------------------------------------------------------- */
@media (min-width: 1200px) and (max-width: 1600px) {
  .mobileNav {
    display: none;
  }
  .wrapper {
    width: 45%;
    margin: 0 auto;
  }
  .wrapper .container {
    -webkit-box-shadow: 0px 0px 5px -2px #c5bbbb;
            box-shadow: 0px 0px 5px -2px #c5bbbb;
    padding: 2em 0;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .wrapper .container:hover {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 0px 0px 6px -2px gray;
            box-shadow: 0px 0px 6px -2px gray;
    border-radius: 0;
  }
}

/*---------------------------------------------------  Tablet  --------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1200px) {
  .wrapper {
    width: 60%;
    margin: 0 auto;
  }
  .wrapper .container {
    -webkit-box-shadow: 0px 0px 5px -2px #dbd1d1;
            box-shadow: 0px 0px 5px -2px #dbd1d1;
    padding: 2em 0;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .wrapper .container:hover {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 0px 0px 6px -2px gray;
            box-shadow: 0px 0px 6px -2px gray;
    border-radius: 0;
  }
}
/*# sourceMappingURL=style.css.map */