@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: none;
    white-space: nowrap;
}

//min width 985px 
html {
    height: 100%;
}

body {
    height: 100%;
}


// .demandeWrapper {
//     margin-bottom: 10%;
// }

// .demande {
//     width: 40rem;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 1rem;
//     // background-color: #1a1f22;
//     // color: #FFF;
//     font-weight: 500;
//     box-shadow: 0px 0px 3px 0px #e3dfdf;
//     border-radius: 10px;
//     border-top-left-radius: 30px;
//     &>div {
//         display: flex;
//         width: 100%;
//         align-items: center;
//     }
// }

// .top {
//     position: relative;

//     .id {
//         p {
//             font-weight: 700;
//             font-family: 'Quicksand', sans-serif;
//             font-size: 1.7em;
//             color: #FFF;

//         }

//         background-color: #1a1f22;
//         height: 3rem;
//         width: 3rem;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         top: 0;
//         left: 0;        
//         border-bottom-right-radius: 30px;
//         border-top-left-radius: 30px;
//         position: absolute;

//     }

//     .user {
//         display: flex;
//         align-items: center;
//         margin-left: auto;
//         margin-right: 1rem;
//         margin-top: .4rem;
//         .username p {
//             font-weight: 600;
//             font-size: 1em;
//         }
//     }

//     .img {
//         img {
//             width: 3em;
//             height: 3em;
//             border-radius: 100%;
//             border: 2px solid #FFF;
//         }
//     }
// }

// .mid {
//     .demandeInfo {
//         div {
//             display: flex;
//             align-items: center;
//             padding: .5em;

//             img {
//                 width: 3em;
//                 height: 3em;
//             }

//             span {
//                 font-weight: 600;
//             }
//         }
//     }
// }

.Wrapper {
    margin-left: 7em;
}

.header,.demande {
    display: flex;
    font-weight: 600;

    & > div {
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        &:first-child {
            width: 3rem;
        }
    }
}
.demandeWrapper {
    .demande {
        font-weight: 500;
        align-items: center;

        .img {
            border-radius: 100%;
            position: relative;
            height: 3rem;
            background-color: #494e51;
            img {
                border-radius: 100%;
            }

            .status {
                position: absolute;
                height: 1rem;
                width: 1rem;
                border-radius: 100%;
                border: 2px solid #FFF;
                bottom: -3px;
                right: 0;
            }

            .offline {
                background-color: rgb(245, 46, 11);
            }

            .online {
                background-color: #49c466;
            }
        }
        & > div {
        
            &:nth-child(2) {
                width: 3rem;
            }
        }

        .btns {
            div {
                svg {
                    height: 1.2rem;
                    width: 1.2rem;
                }
                margin-right: .5rem;
    
            }
            .accepter {
                svg path {
                     fill: #379b75 !important;
                 }
             }
             .refuser {
                svg path {
                     fill: orangered !important;
                 }
             }
             .supprimer {
                svg {
                    fill: #f44336 !important;

                } 
                path {
                     fill: #f44336 !important;
                 }
             }
        }
        

    }
}