// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-------- Tablet Media Queries ---------*/

$minTablet: 300px;
$maxTablet: 1200px;

@mixin tablet {
    @media (min-width: #{$minTablet}) and (max-width: #{$maxTablet}) {
        @content;
    }
}


/*-------- Mobile Media Queries ---------*/

$minMobile: 300px;
$maxMobile: 736px;


@mixin mobile {
    @media (min-width: #{$minMobile}) and (max-width: #{$maxMobile}) {
        @content;
    }
}










*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: none;
    white-space: nowrap;
}

//min width 985px 
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f0f4f7;

}



.Wrapper {
    margin-left: 7em;
    height: 100%;
    position: relative;

}


.info {
    width: 80%;
    margin: 0 auto;
    height: 7rem;
    display: flex;
    align-items: center;
    margin-top: 5%;

    .stats {
        display: flex;

        &>div {
            margin-right: 1.4em;
        }

        .title,
        .text {
            font-weight: 500;
        }

        .text {
            font-size: 1.5rem;
            color: #3976ec;
        }

        .title {
            font-size: .8rem;
            color: #5e5959;
            margin-bottom: .5rem;
        }
    }

    .guide {
        display: flex;
        margin-left: auto;

        & > div {
            display: flex;
            align-items: center;
            margin-left: 1.5rem;
            .text {
                font-weight: 500;
                color: #5e5959;
                font-size: .8rem;
            }
            .img {
                margin-right: .5rem;
                img {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }


}




.actions {
    width: 80%;
    margin: 0 auto;
    height: 4rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 0 #d7d3d3;


    .checkBox_h {
        width: 3.8rem ;
        height: 3.8rem ;
        margin-left: .6rem;

        .label_h {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .btns_h {
        display: none;
        div {
            cursor: pointer;
            position: relative;
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: .3rem;

            svg {
                height: 1rem;
                width: 1rem;
                // padding: 1rem;

                 path {
                    fill: grey;
                }
                fill: grey;


            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100%;
                opacity: .5;
                transition: all 200ms ease-in-out;
                transform: scale(0);

            }

        }

        .accept_h {
            &:hover {
                &::after {
                    background-color: #bee6cd;
                    transform: scale(1);

                }
                svg path {
                    fill: #379b75;

                }
            }


        }

        .refuse_h {

            &:hover {
                &::after {
                    background-color: #f2d9638c;
                    transform: scale(1);

                }
                svg path {
                    fill: #ffd200 ;
                }
            }


        }

        .delete_h {

            &:hover {
                &::after {
                    background-color: #f2624b63;
                    transform: scale(1);

                }

                svg {
                    fill: #f44336 ;
    
                }
    
                path {
                    fill: #f44336;
                }
            }


        }
    }




}










.header,
.demande {
    display: flex;
    font-weight: 500;
    justify-content: space-around;

    &>div {
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;

        &:first-child {
            width: 3rem;
        }
    }
}


.checkboxSvg,
.checkboxSvg_h {

    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
    stroke: rgb(192, 194, 196);
    stroke-width: 5;
    fill: white;
    stroke-width: 6px;


    .box {
        stroke-dasharray: 320;
        stroke-dashoffset: 0;
        fill: white;
        transition: stroke-dashoffset 150ms linear, fill 100ms ease-in-out;
        stroke-width: 6px;


    }

    .check {
        stroke-dasharray: 82;
        stroke-dashoffset: 83;
        fill: none;
        transition: stroke-dashoffset 150ms linear, fill 100ms ease-in-out;
        stroke-width: 11px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

.label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checked {
    // .box {
    //     stroke-dashoffset: 320;

    // }
    .check {
        stroke-dashoffset: 0;
        stroke: #FFF;
    }

    .box {
        fill: rgb(0, 124, 226);
        stroke: rgb(0, 124, 226);
        stroke-width: 10px;
    }
}

.checkB,
.checkB_h {
    display: none;
}







.header {

    box-shadow: -4px 0px 4px -2px #d7d3d3, 4px 0px 4px -2px #d7d3d3;

    position: relative;



    background-color: #F7F7F7;




    &>div {
        width: 5rem;
        font-size: .8rem;
        color: #999292;
        font-weight: 500;
    }

    .void {
        width: 3.8rem;
    }

    width: 80%;
    margin: 0 auto;

    .username_h {
        width: 5rem;
        display: flex;
justify-content: left;
    }

    .date_demande_h,
    .action_h {
        width: 10rem;
    }



}

.searchContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2rem;

    
    
    .search {
        height: 2.5rem;
        border-radius: 30px;
        border: 1px solid rgb(216, 213, 213);
        font-weight: 500;
        padding-left: 1rem;
        width: 6rem;
        transition: all 300ms ease-in-out;
        transform-origin: left;

        &:focus {
            width: 12rem;
            transition: all 300ms ease-in-out;
        }

    }

    .searchSvg {
        cursor: pointer;
        position: absolute;
        right: 10px;
        svg {
            width: 1.5rem;
            width: 1.5rem;

            path {
                fill: rgb(190, 189, 189);
            }
        }
    }
}




.demandeWrapper {
    margin-bottom: 2rem;
    .demandes {
        width: 80%;
        box-shadow: 0px 0px 5px 2px #d7d3d3;
        margin: 0 auto;
    }

    .demande {
        font-weight: 400;
        align-items: center;
        background-color: #FFF;
        margin: 0 auto;
        width: 100%;
        height: 4rem;
        transition: all 200ms ease-in-out;
        opacity: 1;
        position: relative;
        margin-bottom: 1px;
        box-shadow: none;
        transform: scale(1);
        &:hover {

            background-color: rgb(248, 248, 248);


            .btns {

                .accept {
                    svg path {
                        fill: #379b75 !important;
                    }
                }

                .refuse {

                    svg path {
                        fill: #ffd200 !important;
                    }
                }

                .delete {

                    svg {
                        fill: #f44336 !important;

                    }

                    path {
                        fill: #f44336 !important;
                    }
                }
            }
        }





















        // .checkBox {
        //     width: 3.8rem;

        //     label {
        //         width: 100%;
        //         height: 100%;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         cursor: pointer;
        //     }
        //     .checkB {
        //         display: none;

        //     &:checked + label {
        //         // .box {
        //         //     stroke-dashoffset: 320;

        //         // }
        //         .check {
        //             stroke-dashoffset: 0;
        //             stroke: #FFF;
        //         }
        //         .box {
        //             fill: rgb(0,124,226);
        //             stroke: rgb(0,124,226);
        //             stroke-width: 10px;
        //         }
        //     }
        //     }

        //     .checked {
        //             // .box {
        //             //     stroke-dashoffset: 320;

        //             // }
        //             .check {
        //                 stroke-dashoffset: 0;
        //                 stroke: #FFF;
        //             }
        //             .box {
        //                 fill: rgb(0,124,226);
        //                 stroke: rgb(0,124,226);
        //                 stroke-width: 10px;
        //             }
        //     }


        //     .checkboxSvg {

        //         height: 1.3rem;
        //         width: 1.3rem;
        //         cursor: pointer;
        //         stroke: rgb(192, 194, 196);
        //         stroke-width: 5;
        //         fill: white;
        //         stroke-width: 6px;


        //         .box {
        //             stroke-dasharray: 320;
        //             stroke-dashoffset: 0;
        //             fill: white;
        //             transition: stroke-dashoffset 150ms linear, fill 100ms ease-in-out;
        //             stroke-width: 6px;


        //         }
        //         .check {
        //             stroke-dasharray: 82;
        //             stroke-dashoffset: 83;
        //             fill: none;
        //             transition: stroke-dashoffset 150ms linear, fill 100ms ease-in-out;
        //             stroke-width: 11px;
        //             stroke-linecap: round;
        //             stroke-linejoin: round;
        //         }
        //     }
        // }
        .id {
            font-size: 1rem;
            font-weight: 600;
            width: 3rem;
        }

        .checkBox {
            width: 3.8rem;
        }

        .status {
            width: 5rem;
        }

        .img {
            border-radius: 100%;
            position: relative;
            height: 4rem;
            width: 4rem;

            img {
                border-radius: 100%;
                background-color: #494e51;
                width: 3rem;
                height: 3rem;
            }

            .status {
                position: absolute;
                height: 1rem;
                width: 1rem;
                border-radius: 100%;
                border: 2px solid #FFF;
                bottom: 5px;
                right: 5px;
            }

            .offline {
                background-color: rgb(245, 46, 11);
            }

            .online {
                background-color: #49c466;
            }
        }

        .prix {
            width: 5rem;
        }

        .username {
            width: 7rem;
        }

        .status {
            img {
                width: 2rem;
                height: 2rem;
            }
        }

        .lavage,
        .vehicule,
        .nbVehicule {
            width: 5rem;
        }

        &>div {
            font-weight: 500;
            font-size: .75rem;
            color: rgb(66, 65, 65);

            // &:nth-child(2) {
            //     width: 3rem;
            // }
        }

        .btns {
            div {
                cursor: pointer;
                position: relative;
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .3rem;

                svg {
                    height: 1rem;
                    width: 1rem;
                    // padding: 1rem;

                }

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 100%;
                    opacity: .5;
                    transition: all 200ms ease-in-out;
                    transform: scale(0);

                }

            }

            .accept {
                &:hover {
                    &::after {
                        background-color: #bee6cd;
                        transform: scale(1);
                    }
                }

                svg path {
                    fill: #000000;
                }
            }

            .refuse {

                &:hover {
                    &::after {
                        background-color: #f2d9638c;
                        transform: scale(1);

                    }
                }

                svg path {
                    fill: rgb(0, 0, 0);
                }
            }

            .delete {

                &:hover {
                    &::after {
                        background-color: #f2624b63;
                        transform: scale(1);

                    }
                }

                svg {
                    fill: #000000;

                }

                path {
                    fill: #000000;
                }
            }
        }


    }

    .deleteAnimation {
        opacity: 0;
        scale: 0;
        transition: all 300ms ease-in-out;
    }

    // .N {
    //     background-color: #ff4141;
    //     color: #FFF;
    //     .btns  {
    //         & > div {
    //             svg {
    //                 fill: #FFF !important;
    //                 path {
    //                     fill: #FFF !important;
    //                 }


    //             }

    //         }
    //     }


    //     &:hover {


    //         .btns {
    //             & > div {
    //                 &::after {
    //                     display: none;
    //                 }
    //             }
    //         .accept {
    //             svg path {
    //                 fill: #379b75 !important;
    //             }
    //             .stroke {
    //                 fill: #000 !important;
    //             }
    //         }

    //         .refuse {

    //             svg path {
    //                 fill: orangered !important;
    //             }
    //             .stroke {
    //                 fill: #000 !important;
    //             }
    //         }

    //         .delete {

    //             svg {
    //                 fill: #000000 !important;

    //             }

    //             path {
    //                 fill: #000000 !important;
    //             }
    //         }
    //         }
    //     }








    // }
    // .Y {
    //     background-color: #b4ecb8;
    // }
}

.filter {
    transition: all 200ms ease-in-out;
    height: 0 !important;
    opacity: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    animation: none !important;
}





@include tablet {

    .Wrapper {
        margin-left: 0;
    }

    .info {
        margin-top: 8% !important;
    }
    .guide {
        display: none !important;
    }
    .header {
        width: 90% !important;

        &>div {
            font-size: .8rem;
        }

        .action_h {
            width: 7rem !important;

        }


    }
    .actions {
        width: 90% !important;
    }
    .demandes {
        width: 90% !important;
    }
    .demande {
        width: 100% !important;

        &>div {
            font-size: .75rem !important;
        }



        .btns {
            width: 7rem !important;

            &>div {
                margin: 0 !important;

                &::after {
                    width: 2rem !important;
                    height: 2rem !important;
                }

                svg {
                    height: .9rem !important;
                    width: .9rem !important;
                    margin: 0 !important;
                }
            }
        }
    }
}





.bg {
    height: 100%;
    width: 100%;
    background-color: #f4faff93;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    z-index: 99;


    .popupContainer {
        position: absolute;
        z-index: 10;
        width: 27rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 4px 3px #eaeef6;
        background-color: #FFF;

        &>div {
            width: 25rem;
            margin: 0 auto;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .point {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFF;
            position: relative;
            height: 3rem;
            margin-top: .5rem;

            .Text {
                height: 100%;
                display: flex;
                align-items: center;

                p {
                    font-weight: 500;
                    color: #f57766;
                }
            }

            .cross {
                position: absolute;
                // right: 10px;
                // top: 10px;
                right: 8px;
                top: -4px;
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;

                &:hover {
                    svg {
                        transform: rotate(180deg);
                        transition: all 300ms ease-in-out;

                        path {
                            fill: #f57766;
                        }

                    }
                }

                svg {
                    height: 1rem;
                    width: 1rem;
                    transition: all 300ms ease-in-out;
                    transform: rotate(0);
                    path {
                        fill: rgb(199, 195, 195);
                    }


                }
            }

        }

        .mid,
        .anchor {
            background-color: #FFF;
            justify-content: center;
            align-items: center;
        }

        .mid {
            height: 7rem;
            display: flex;

            .bigText {
                p {
                    font-weight: 500;
                    color: #646060;
                    font-size: .9rem;
                }
            }
        }

        .anchor {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            height: 4rem;


            &>div {
                width: 100%;

                .Btn {
                    width: 90%;
                    height: 3.5rem;
                    border: none;
                    font-weight: 500;
                    color: #FFF;
                    border-radius: 3px;
                    cursor: pointer;
                    transform: scale(1);
                    transition: all 200ms ease-in-out;
                    
                    &:hover {
                        transition: all 200ms ease-in-out;
                        transform: scale(.97);
                    }
                }
            }

            .annuler {
                button {
                    background-color: rgb(255, 255, 255);
                    color: #b7b7b7;
                    border: 1px solid #d2d2d2;

                    &:hover {
                        color: #3a9afb;
                        border: 1px solid #3a9afb;
                    }
                }
            }

            .ok {
                button {
                    background-color: #ff7466;
                    border: 1px solid #f57766;
                    
                    &:hover {
                        background-color: #fa6153;
                    }
                }
            }
        }
    }
}






.showPopUp {
    display: flex;
}
















@include mobile {
    .Wrapper {
        margin: 0 !important;
    }
}














@keyframes startup {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}