*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: none;
  white-space: nowrap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.Wrapper {
  margin-left: 7em;
}

.header,
.demande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

.header > div,
.demande > div {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.header > div:first-child,
.demande > div:first-child {
  width: 3rem;
}

.demandeWrapper {
  background-color: #f0f4f7;
}

.demandeWrapper .demande {
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  margin: 0 auto;
  margin-top: .3rem;
  width: 70rem;
  height: 4rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 35px;
}

.demandeWrapper .demande:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.demandeWrapper .demande:hover .btns .accept svg path {
  fill: #379b75 !important;
}

.demandeWrapper .demande:hover .btns .refuse svg path {
  fill: orangered !important;
}

.demandeWrapper .demande:hover .btns .delete svg {
  fill: #f44336 !important;
}

.demandeWrapper .demande:hover .btns .delete path {
  fill: #f44336 !important;
}

.demandeWrapper .demande .img {
  border-radius: 100%;
  position: relative;
  height: 4rem;
  width: 4rem;
}

.demandeWrapper .demande .img img {
  border-radius: 100%;
  background-color: #494e51;
  width: 3rem;
  height: 3rem;
}

.demandeWrapper .demande .img .status {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: 2px solid #FFF;
  bottom: 5px;
  right: 5px;
}

.demandeWrapper .demande .img .offline {
  background-color: #f52e0b;
}

.demandeWrapper .demande .img .online {
  background-color: #49c466;
}

.demandeWrapper .demande > div:nth-child(2) {
  width: 3rem;
}

.demandeWrapper .demande .btns div {
  cursor: pointer;
  position: relative;
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .3rem;
}

.demandeWrapper .demande .btns div svg {
  height: 1rem;
  width: 1rem;
}

.demandeWrapper .demande .btns div::after {
  content: '';
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  opacity: .5;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.demandeWrapper .demande .btns .accept:hover::after {
  background-color: #bee6cd;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.demandeWrapper .demande .btns .accept svg path {
  fill: #000000;
}

.demandeWrapper .demande .btns .refuse:hover::after {
  background-color: #f2cc38b5;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.demandeWrapper .demande .btns .refuse svg path {
  fill: black;
}

.demandeWrapper .demande .btns .delete:hover::after {
  background-color: #ff000069;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.demandeWrapper .demande .btns .delete svg {
  fill: #000000;
}

.demandeWrapper .demande .btns .delete path {
  fill: #000000;
}

.demandeWrapper .N {
  background-color: #ff4141;
  color: #FFF;
}

.demandeWrapper .N .btns > div svg {
  fill: #FFF !important;
}

.demandeWrapper .N .btns > div svg path {
  fill: #FFF !important;
}

.demandeWrapper .N:hover .btns > div::after {
  display: none;
}

.demandeWrapper .N:hover .btns .accept svg path {
  fill: #379b75 !important;
}

.demandeWrapper .N:hover .btns .accept .stroke {
  fill: #000 !important;
}

.demandeWrapper .N:hover .btns .refuse svg path {
  fill: orangered !important;
}

.demandeWrapper .N:hover .btns .refuse .stroke {
  fill: #000 !important;
}

.demandeWrapper .N:hover .btns .delete svg {
  fill: #000000 !important;
}

.demandeWrapper .N:hover .btns .delete path {
  fill: #000000 !important;
}

.demandeWrapper .Y {
  background-color: #b4ecb8;
}
/*# sourceMappingURL=style.css.map */