@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*-------- Mobile Media Queries ---------*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #faf7f7;
}

header {
  width: 100vw;
}

header section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #273036;
  color: #FFF;
}

header section div {
  height: 100%;
}

header section div:first-child {
  margin-left: 1em;
}

.header_1 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_1 .logo h1 {
  font-weight: 500;
}

.header_1 .logo h1 span {
  font-weight: 300;
}

.header_1 .logoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_1 .logoImg svg {
  height: 3em;
  width: 4em;
}

.header_1 .userInfo {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.header_1 .userInfo .disconnect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_1 .userInfo .disconnect .username {
  margin-left: 1em;
  font-weight: 600;
  font-size: .9em;
}

.header_1 .userInfo .disconnect .username span {
  font-weight: 500;
  font-size: .85em;
  color: #e9e5e5;
  display: inline-block;
  margin-right: .5em;
}

.header_1 .userInfo .disconnect .triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
}

.header_1 .userInfo .disconnect .triangle svg {
  width: .8em;
  height: .8em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header_1 .userInfo .disconnect .triangle svg path {
  fill: #FFF;
}

.header_1 .userInfo .disconnect .triangle .svgClicked {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header_1 .userInfo .disconnect .logout > a:nth-child(4) > span:nth-child(2) {
  display: block;
  margin-right: 1.5rem;
}

.header_1 .userInfo .disconnect .logout {
  position: absolute;
  top: 124%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 1;
}

.header_1 .userInfo .disconnect .logout a {
  font-weight: 500;
  padding: .7em .5em;
  display: block;
  font-size: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #000;
  width: 4rem;
  height: 4rem;
  position: relative;
  left: 20rem;
}

.header_1 .userInfo .disconnect .logout a:nth-child(1) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.header_1 .userInfo .disconnect .logout a:nth-child(2) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.header_1 .userInfo .disconnect .logout a:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.header_1 .userInfo .disconnect .logout a:nth-child(4) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header_1 .userInfo .disconnect .logout a:hover .sVg {
  right: 150%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header_1 .userInfo .disconnect .logout a:hover span {
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.header_1 .userInfo .disconnect .logout a span {
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  white-space: nowrap;
  font-weight: 600;
}

.header_1 .userInfo .disconnect .logout a .sVg {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #273036;
  border-radius: 100%;
  padding: .7rem;
  position: absolute;
  right: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header_1 .userInfo .disconnect .logout a .sVg svg {
  display: block;
  height: 4rem !important;
  width: 4rem !important;
  margin: 0 !important;
}

.header_1 .userInfo .disconnect .logout a .sVg svg path {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 10;
}

.header_1 .userInfo .disconnect .displayLog a {
  left: 12.5rem;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(1) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(2) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(3) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.header_1 .userInfo .disconnect .displayLog a:nth-child(4) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header_1 .userInfo .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: navajowhite;
  border-radius: 100%;
  margin-left: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header_1 .userInfo .img img {
  display: block;
  width: 2.4em;
  height: 2.4em;
  border-radius: 100%;
}

.header_1 .popUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header_1 .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header_1 .notifications svg {
  height: 1rem;
  width: 1rem;
}

.header_1 .notifications svg path {
  fill: #FFF;
}

.header_2 .title {
  font-weight: 500;
}

.header_2 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
  margin-right: 1em;
}

.header_2 .right div {
  margin-left: 1em;
  opacity: .7;
}

main {
  height: 100%;
  width: 100%;
}

.demandesWrapper {
  width: 100%;
  height: 100%;
}

.demandes {
  width: 25rem;
  margin: 1rem auto;
}

.demandeContainer {
  width: 100%;
  position: relative;
}

.demande {
  width: 100%;
  position: relative;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 4px 1px #d9d6d6;
          box-shadow: 0px 0px 4px 1px #d9d6d6;
  padding: 1rem 0 1rem 1rem;
  z-index: 99;
}

.demande .demande_id {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #b6aeae;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 100%;
  border: 2px solid #2f3d53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 20%;
  background-color: #FFF;
}

.demande .demande_id p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #2f3d53;
}

.demande .demandeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

.demande .demandeHeader .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demande .demandeHeader .title .svg {
  height: 4rem;
  width: 4rem;
}

.demande .demandeHeader .title .svg svg {
  height: 100%;
  width: 100%;
}

.demande .demandeHeader .price {
  margin-left: auto;
}

.demande .demandeHeader .price p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #485a71;
}

.demande .demandeHeader .price span {
  font-size: 1rem;
  font-weight: 400;
}

.demande .demandeHeader .text p {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.demande .showMore {
  width: 100%;
  height: 2rem;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demande .showMore .svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #152655;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.demande .showMore .svg:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.demande .showMore svg {
  width: 50%;
  height: 50%;
  fill: #FFF;
}

.demandeFooter {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=demandes.css.map */