@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*-------- Desktop Media Queries ---------*/

$minDesktop: 1200px;
$maxDesktop: 1600px;

@mixin desktop {
    @media (min-width: #{$minDesktop}) and (max-width: #{$maxDesktop}) {
        @content;
    }
}


/*-------- Tablet Media Queries ---------*/

$minTablet: 768px;
$maxTablet: 1200px;

@mixin tablet {
    @media (min-width: #{$minTablet}) and (max-width: #{$maxTablet}) {
        @content;
    }
}



/*---------------------------------------------------  Mobile  --------------------------------------------------------- */



*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}



.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: url('../img/laura-dewilde-MTSq-eEqPmU-unsplash.jpg') no-repeat;
    // background-size: auto 100%;
    // position: relative;


    .logo {





        img {
            width: 20%;
            display: block;
            margin: 0 auto;
        }

        .brand {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            letter-spacing: 5px;
        }
    }


    .form {
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;


            input {
                height: 4em;

            }

            .sLabel {
                width: 100%;
                margin-bottom: 1em;
                position: relative;

                .border {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 4%;
                    background-color: #3d7b7d;
                    bottom: -1%;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all 200ms ease-in-out;

                }


                .clicked {
                    transform: scaleX(1) !important;
                    transition: all 200ms ease-in-out;
                }

            }

            input[type=text] {
                border: none;
                border-bottom: 1px solid rgb(168, 162, 162);
                width: 100%;
                background-color: transparent;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;


                &::placeholder {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                }



                &:focus {
                    outline: none;
                }
            }

 



            .log {
                border: none;
                color: #FFF;
                background-color: #3d7b7d;
                margin-top: 1em;
                transition: all 100ms ease-in-out;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Montserrat', sans-serif;
                height: 3em;
                border-radius: 2px;
                margin-top: 3em;
                width: 100%;
                font-size: 1em;
                cursor: pointer;
                &:hover,
                &:focus {
                    transition: all 100ms ease-in-out;
                    background-color: darken(#3d7b7d, 10%);
                    transform: scale(.98);
                }
            }
        }
    }

    .notMem {
        margin-top: 4em;
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.692);

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 12px;
        }

        span a {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: rgb(107, 102, 102);

        }
    }

}

.mobileNav {
    display: none;
}

// .mobileNav {

//     .hamburger {
//         width: 2.5em;
//         cursor: pointer;
//         height: 1.3em;
//         z-index: 3;
//         position: absolute;
//         right: .45em;
//         top: 1em;

//         span {
//             display: block;
//             height: 2px;
//             width: 100%;
//             background-color: black;
//             -webkit-transition: all 300ms ease-in-out;
//             transition: all 300ms ease-in-out;
//             position: absolute;
//             right: 30%;
//             top: 30%;

//             &:nth-child(2) {
//                 width: 60%;
//                 top: 63%;
//             }

//             &:nth-child(3) {
//                 width: 50%;
//                 top: 100%;
//             }
//         }
//     }

//     .cross {

//         span {
//             transition: all 300ms ease-in-out;
//             background-color: #FFF;

//             &:nth-child(1) {
//                 transform: rotate(130deg);
//             }

//             &:nth-child(2) {
//                 opacity: 0;
//             }

//             &:nth-child(3) {
//                 width: 100%;
//                 transform: rotate(40deg);
//             }
//         }
//     }
// }

// .nav {
//     width: 50%;
//     height: 100vh;
//     position: fixed;
//     z-index: 2;
//     transform: translateX(200%);
//     background-color: rgb(66, 107, 134);
//     transition: all 200ms ease-in-out;

//     .navList {

//         padding: 0;
//         margin: 0;
//         margin-top: 18rem;
//         width: 100%;
//         height: 100%;

//         .navItem {
//             list-style: none;
//             text-align: center;
//             padding: 0;
//             margin: 0;

//             &:hover .navLink {
//                 color: #000;
//                 background-color: #FFF;
//             }


//             .navLink {
//                 text-decoration: none;
//                 font-family: 'Montserrat', sans-serif;
//                 font-weight: 500;
//                 cursor: pointer;
//                 color: #FFF;
//                 display: block;
//                 width: 100%;
//                 height: 100%;
//                 padding: 1em;


//             }
//         }
//     }
// }

// .navBlock {
//     transform: translateX(100%);
//     transition: all 200ms ease-in-out;
// }




/*---------------------------------------------------  Desktop  --------------------------------------------------------- */





@include desktop {

    .mobileNav {
        display: none;
    }

    .wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        .imgContainer {
            background-image: url("../img/login4.jpeg");
            width: 68%;
            display: block;
            height: 100%;
            background-size: cover;
        }



    }


}





/*---------------------------------------------------  Tablet  --------------------------------------------------------- */



@include tablet {

    .mobileNav {
        display: none;
    }
    .wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        .imgContainer {
            background-image: url("/img/login/login.jpg");
            width: 68%;
            display: block;
            height: 100%;
            background-size: cover;
        }



    }
}