*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

html {
    height: 100%;
}

.headerWrapper {
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    .headerLogo {
        display: flex;
        align-items: center;
        cursor: pointer;

        h1 {
            font-weight: 500;
            color: #273036;
            font-family: 'Montserrat', sans-serif;
            user-select: none;
            display: block;
            margin-left: .4em;
            transition: all 400ms ease-in-out;

        }

        span {
            font-weight: 300;

        }




    }

    .logoImg {
        display: flex;

        svg {
            height: 3em;
            width: 4em;

            path {
                fill: #273036;
                transition: all 400ms ease-in-out;

            }
        }
    }
}