@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*-------- Desktop Media Queries ---------*/

$minDesktop: 1200px;
$maxDesktop: 1600px;

@mixin desktop {
    @media (min-width: #{$minDesktop}) and (max-width: #{$maxDesktop}) {
        @content;
    }
}



/*-------- Tablet Media Queries ---------*/

$minTablet: 737px;
$maxTablet: 1200px;

@mixin tablet {
    @media (min-width: #{$minTablet}) and (max-width: #{$maxTablet}) {
        @content;
    }
}










*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    white-space: nowrap;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


.head {
    display: flex;
    justify-content: center;
}

.wrapper {

    width: 100%;
    height: 100%;

    .catalogue {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 2em;
        box-shadow: 0px 1px 6px 0px #e3e0e0;
        border-radius: 15px;
        transition: all 200ms ease-in-out;

        &:hover {
            transition: all 200ms ease-in-out;
            box-shadow: 0px 1px 10px 0px #e3e0e0;
        }

        &:last-child {
            margin-bottom: 3em;
        }




        &:nth-child(2) {

            .top {
                svg {
                    fill: #227eb5 !important;
                }

                .price,
                .title {
                    span {
                        color: rgb(255, 255, 255) !important;
                    }
                }
            }

            .request a {
                background-color: darken(#227eb5, 10%);
                color: #FFF;
                border-top-left-radius: 35px;
                border-bottom-right-radius: 35px;
                border: 2px solid darken(#227eb5, 10%);

                &:hover {
                    transform: scale(.95);
                    background-color: darken(#227eb5, 10%) ;
                    border: 2px solid darken(#227eb5, 10%) ;
                }
            }

        }

        .top {
            position: relative;

            .price,
            .title {
                span {
                    color: rgb(23, 87, 184) !important;
                }
            }

            svg {
                position: absolute;
                z-index: -1;
                fill: #f0f3fb  !important;

            }


        }

        // .services {
        //     margin-bottom: 2em;
        // }

        .top {
            margin-bottom: 3em;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 3em;
                margin: 2em;
            }
        }

        .request {
            margin-bottom: 2em;
        }

        .title,
        .price,
        .request {
            text-align: center;
        }

        .price {
            margin-bottom: 2em;
        }

        .price span {
            font-size: 2em;
            font-weight: 600;
            color: #FFF;
        }

        .title {
            margin: 2em 0 .5em 0;
        }

        .title span {
            font-weight: 600;
            display: block;
            color: #FFF;
        }

        .items {

            .item {
                margin: 1em;


            }

            .svgWrap {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }

            padding: 0;
            margin: .5em;
            text-align: center;
            font-weight: 500;
        }

        .request a {
            border-radius: 5px;
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px;
            text-decoration: none;
            color: rgb(9, 39, 75);
            background-color: #ffffff;
            padding: 1em 1.5em;
            border: 2px solid rgb(9, 39, 75);
            transition: all 200ms ease-in-out;
            transform: scale(1);
            display: flex;
            width: 50%;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            font-weight: 600;


            &:hover {
                transform: scale(.97);
                transition: transform 200ms ease-in-out;
                background-color: #1a608a;
                border: 2px solid #1a608a;

                color: #FFF;
            }
        }
    }
}




@include desktop {


    .wrapper {
        display: flex;
        justify-content: center;
        height: initial;
        height: 90%;

        .top {
            margin: 0 !important;


            svg {
                border-radius: 15px 15px 0 0;

            }
        }
    }

    .catalogue {
        justify-content: start !important;
        width: 25% !important;
        margin: 1em !important;
        border-radius: 20px;
        align-self: center;
        height: 80%;
        transition: all 200ms ease-in-out;



        .top {
            svg {
                fill: #f5f8ff !important;
            }

            .price,
            .title {
                span {
                    color: rgb(23, 87, 184) !important;
                }
            }
        }

        &:nth-child(2) {
            transform: scale(1.1);
            margin: 2em !important;

            .top {
                svg {
                    fill: #1f65a2 !important;
                }

                .price,
                .title {
                    span {
                        color: rgb(255, 255, 255) !important;
                    }
                }
            }

        }



        .services {
            margin-top: 3.5em !important;
        }

        .request {

            margin-top: 1em;

            a {
                font-weight: 600;
                padding: 1em 3em !important;
            }
        }
    }


}