@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url("./img/adminBg.svg") no-repeat;
  background-size: auto;
  background-size: cover;
  background-color: #f2f2f2;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerWrapper {
  height: 5rem;
  width: 100%;
  background-color: #273036;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerWrapper .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.headerWrapper .headerLogo h1 {
  font-weight: 500;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin-left: .4em;
}

.headerWrapper .headerLogo span {
  font-weight: 300;
}

.headerWrapper .logoImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerWrapper .logoImg svg {
  height: 3em;
  width: 4em;
}

.formWrapper {
  height: 28rem;
  width: 27rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 3em;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 1px 1px #757373;
          box-shadow: 3px 3px 1px 1px #757373;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: -3px -3px 1px 1px #333232;
          box-shadow: -3px -3px 1px 1px #333232;
}

.formWrapper .formHeader {
  width: 100%;
  margin-bottom: 1rem;
}

.formWrapper .formHeader .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.formWrapper .formHeader .logo svg {
  height: 5rem;
  width: 5rem;
  margin-right: .6rem;
}

.formWrapper .formHeader .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formWrapper .formHeader .title h1 {
  text-align: center;
  letter-spacing: 10px;
  font-weight: 500;
}

.formWrapper .form {
  width: 100%;
}

.formWrapper .form .input {
  border: none;
  border-bottom: 1px solid #dfdcdc;
  width: 100%;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-top: 2em;
  cursor: pointer;
  height: 4em;
}

.formWrapper .form .input:focus {
  outline: none;
}

.formWrapper .form .login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.formWrapper .form .login button {
  border: none;
  padding: 1.1em 5em;
  width: 100%;
  font-weight: 500;
  color: #FFF;
  background-color: #5b5c5e;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: .9rem;
}

.formWrapper .form .login button:hover {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  background-color: #273036;
}

.formWrapper .form .label {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.formWrapper .form .label::after {
  content: url("../img/update.svg");
  position: absolute;
  display: block;
  width: .8rem;
  height: .8rem;
  right: 0;
  top: 50%;
  opacity: .2;
}

.formWrapper .form .label:hover::after {
  opacity: 1;
}

.formWrapper .form .label:hover .show::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formWrapper .form .label .show {
  position: relative;
}

.formWrapper .form .label .show::after {
  content: url("../img/show.svg");
  position: absolute;
  width: 1.5rem;
  height: 2.5rem;
  right: 1.5rem;
  bottom: -.1rem;
  opacity: 1;
  cursor: pointer;
  z-index: 69;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formWrapper .form .label .hide::after {
  content: url("../img/hide.svg") !important;
}

.formWrapper .form .label .border {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #273036;
  bottom: 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper .form .label .text {
  font-weight: 500;
  color: #b4b3b3;
  font-size: .8em;
  position: absolute;
  top: 1.7rem;
  pointer-events: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  left: 0;
}

.formWrapper .form .label .focus {
  top: .6rem;
  font-size: .7em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper .form .label .clicked {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper .form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formWrapper .form .info div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formWrapper .form .error {
  display: block;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: .7em;
  color: #ff0000b3;
  width: 100%;
}

.formWrapper .form .errorTrue {
  border-bottom: 2px solid #eb5151 !important;
}
/*# sourceMappingURL=style.css.map */