/*-------- Tablet Media Queries ---------*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  margin-left: 7em;
  background-color: #f0f4f7;
  position: relative;
  height: 100%;
}

.wrapper .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0f4f7;
}

.wrapper .content > div:nth-child(2n) {
  -webkit-animation: startup 400ms ease-in-out forwards;
          animation: startup 400ms ease-in-out forwards;
}

.wrapper .content > div:nth-child(2n+1) {
  -webkit-animation: startup 700ms ease-in-out forwards;
          animation: startup 700ms ease-in-out forwards;
}

.wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 500;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #F7F7F7;
}

.wrapper .top div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999292;
}

.wrapper .top > div {
  font-size: .8rem !important;
}

.wrapper .top .void {
  width: 0;
}

.wrapper .top .tel {
  width: 7rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.wrapper .mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #FFF;
  height: 3.6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  margin-bottom: 1px;
}

.wrapper .mid:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper .mid:hover .action a .delete {
  fill: #ff0c00c4;
}

.wrapper .mid:hover .action a .update {
  fill: #088070;
}

.wrapper .mid > div {
  font-size: .75em;
  color: #424141;
  font-weight: 500;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .mid .p_uid {
  font-weight: 600;
  width: 6rem;
}

.wrapper .mid .p_tel {
  width: 6rem;
}

.wrapper .mid .p_name {
  width: 4rem;
}

.wrapper .mid .p_mail {
  width: 10rem;
}

.wrapper .mid .p_img {
  border-radius: 100%;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
}

.wrapper .mid .p_img img {
  width: 3rem;
  height: 3rem;
  background-color: wheat;
  border-radius: 100%;
}

.wrapper .mid .p_img .status {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: 2px solid #FFF;
  bottom: 3px;
  right: 9px;
}

.wrapper .mid .p_img .offline {
  background-color: #f52e0b;
}

.wrapper .mid .p_img .online {
  background-color: #49c466;
}

.wrapper .mid .action a {
  width: 1.2em;
  height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em;
  border-radius: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  cursor: pointer;
}

.wrapper .mid .action a::after {
  content: '';
  position: absolute;
  display: block;
  width: 200%;
  height: 200%;
  border-radius: 100%;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper .mid .action a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: rgba(145, 206, 198, 0.473);
}

.wrapper .mid .action a svg {
  height: 100%;
  width: 100%;
  opacity: .9;
}

.wrapper .mid .action a:first-child:hover::after {
  background-color: rgba(236, 147, 95, 0.473) !important;
}

.wrapper .filter {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  height: 0 !important;
  opacity: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-animation: none !important;
          animation: none !important;
}

.wrapper .options {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
}

.wrapper .options .sort {
  height: 2.2rem;
  width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #0c356b;
}

.wrapper .options .sort span {
  font-weight: 500;
  font-size: .8em;
  color: #a3a3a3;
  margin-left: .5em;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wrapper .options .sort span::after {
  content: '';
  display: block;
  position: absolute;
  width: .7em;
  height: .7em;
  border-top: 2px solid #206980;
  border-right: 2px solid #206980;
  right: 15%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  top: 33%;
}

.wrapper .options .sort .sortOptions {
  position: absolute;
  width: 100%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  top: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.wrapper .options .sort .sortOptions .option {
  width: 100%;
  white-space: nowrap;
  color: #a1a8aa;
  font-size: .9em;
  background-color: #FFF;
  border-bottom: 1px solid #e7e2e2;
  padding: .9em .9em .9em .2em;
  cursor: pointer;
  height: 0%;
}

.wrapper .options .sort .sortOptionsVisible {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.wrapper .options .search {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 2rem;
}

.wrapper .options .search .searchInput {
  height: 2.5rem;
  border-radius: 30px;
  border: 1px solid #d8d5d5;
  font-weight: 500;
  padding-left: 1rem;
  width: 6rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.wrapper .options .search .searchInput:focus {
  width: 12rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.wrapper .options .search .searchSvg {
  cursor: pointer;
  position: absolute;
  right: 31px;
}

.wrapper .options .search .searchSvg svg {
  width: 1.5rem;
  width: 1.5rem;
}

.wrapper .options .search .searchSvg svg path {
  fill: #bebdbd;
}

.wrapper .options .search svg {
  fill: #257c8b;
  height: 1.3em;
  width: 1.3em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0%;
}

.wrapper .options .refresh svg {
  height: 2em;
  width: 2em;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper .options .refresh svg path {
  fill: #1253a8;
}

.wrapper .options .refresh svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@-webkit-keyframes delete {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes delete {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes startup {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes startup {
  from {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .options {
    width: 90% !important;
    margin-top: 9% !important;
  }
  .top {
    width: 90% !important;
  }
  .wrapper {
    margin-left: 0 !important;
  }
  .content .mid {
    width: 90% !important;
  }
  .content .mid > div {
    font-size: .75rem !important;
  }
}
/*# sourceMappingURL=style.css.map */