//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// /*-------- Mobile Media Queries ---------*/

// $minMobile: 300px;
// $maxMobile: 736px;


// @mixin mobile {
//     @media (min-width: #{$minMobile}) and (max-width: #{$maxMobile}) {
//         @content;
//     }
// }

/*-------- Tablet Media Queries ---------*/

$minTablet: 300px;
$maxTablet: 1200px;

@mixin tablet {
    @media (min-width: #{$minTablet}) and (max-width: #{$maxTablet}) {
        @content;
    }
}


*,
*::after,
*::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.wrapper {
    margin-left: 7em;
    background-color: #f0f4f7;
    position: relative;
    height: 100%;


    .content {
        flex-direction: column;
        display: flex;
        background-color: #f0f4f7;
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 0px 5px 2px #d7d3d3;

        &>div:nth-child(2n) {
            animation: startup 400ms ease-in-out forwards;
        }

        &>div:nth-child(2n+1) {
            animation: startup 700ms ease-in-out forwards;
        }



    }

    .top {
        position: relative;
        display: flex;
        width: 80%;
        justify-content: space-around;
        //padding: 1em;
        font-weight: 500;
        height: 4rem;
        align-items: center;
        margin: 0 auto;
        background-color: #F7F7F7;
        box-shadow: -4px 0px 4px -2px #d7d3d3, 4px 0px 4px -2px #d7d3d3;

        div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999292;

        }

        &>div {
            font-size: .8rem !important;
        }

        .void {
            width: 0;
        }

        .tel {
            width: 7rem;
            justify-content: left;
        }
    }

    .mid {
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color: #FFF;
        height: 3.6em;
        align-items: center;
        margin: 0 auto;
        transition: all 200ms ease-in-out;
        transform: scale(1);
        opacity: 1;
        margin-bottom: 1px;


        &:hover {
            transform: scale(1.03);
            transition: all 200ms ease-in-out;
            background-color: #f8f8f8;

            .action a {
                .delete {
                    fill: #ff0c00c4;
                }

                .update {
                    fill: rgb(8, 128, 112);
                }
            }
        }

        &>div {
            font-size: .75em;
            color: #858383;
            font-weight: 500;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            // min-width: 0;
            // flex: 1;
            // flex-shrink: 0;

        }


        .p_uid {
            font-weight: 500;
            width: 6rem;
            color: rgb(0, 0, 0);
        }

        .p_tel {
            width: 6rem;
        }

        .p_name {
            width: 4rem;
        }

        .p_mail {
            width: 10rem;

        }





        .p_img {
            border-radius: 100%;
            flex-basis: 5%;
            flex-grow: 0;
            position: relative;

            img {
                width: 3rem;
                height: 3rem;
                background-color: wheat;
                border-radius: 100%;
            }

            .status {
                position: absolute;
                height: 1rem;
                width: 1rem;
                border-radius: 100%;
                border: 2px solid #FFF;
                bottom: 3px;
                right: 9px;
            }

            .offline {
                background-color: rgb(245, 46, 11);
            }

            .online {
                background-color: #49c466;
            }
        }

        .action {
            a {
                width: 1.1rem;
                height: 1.1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: .5em;
                border-radius: 100%;
                box-shadow: none;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 200%;
                    height: 200%;
                    border-radius: 100%;
                    z-index: -1;
                    transform: scale(0);
                    transition: all 200ms ease-in-out;
                }

                &:hover {
                    &::after {
                        transform: scale(1);
                        transition: all 200ms ease-in-out;
                        background-color: rgba(145, 206, 198, 0.473);
                    }
                }


                svg {
                    height: 100%;
                    width: 100%;
                    opacity: .9;

                }

                &:first-child {
                    &:hover {
                        &::after {

                            background-color: rgba(236, 147, 95, 0.473) !important;
                        }
                    }
                }
            }

        }

    }




    .filter {
        transition: all 200ms ease-in-out;
        height: 0 !important;
        opacity: 0 !important;
        margin-top: 0;
        margin-bottom: 0;
        animation: none !important;
    }
    .info {
        width: 80%;
        margin: 0 auto;
        height: 7rem;
        display: flex;
        align-items: center;
        margin-top: 5%;
    
        .stats {
            display: flex;
    
            &>div {
                margin-right: 1.4em;
            }
    
            .title,
            .text {
                font-weight: 500;
            }
    
            .text {
                font-size: 1.5rem;
                color: #3976ec;
            }
    
            .title {
                font-size: .8rem;
                color: #5e5959;
                margin-bottom: .5rem;
            }
        }
    
        
    
    
    }
    .options {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        height: 10%;
        margin: 0 auto;
        width: 80%;
        box-shadow: 0 0 5px 0 #d7d3d3;


        .sort {
            height: 2.9rem;
            width: 9rem;
            display: flex;
            justify-content: left;
            align-items: center;
            position: relative;
            margin-right: 2rem;
            margin-left: 2rem;

         



            span {
                font-weight: 600;
                font-size: .8em;
                background-color: #3b4144;
                color: #FFF;                
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 200ms ease-in-out;
                padding-left: .8rem;
                border-radius: 2px;

               

                svg {
                    height: 1rem;
                    width: 1rem;
                    margin-left: auto;
                    margin-right: .8rem;

                        path {
                            fill: #FFF;
                        }
                }

                // &:hover {
                //     &::after {
                //         transform: rotate(-45deg);
                //         transition: all 100ms ease-in-out;
                //         top: 45%;
                //     }
                // }
            }

            .sortOptions {
                position: absolute;
                //top: -20em;
                width: 100%;
                //opacity: 0;
                //transform: scaleY(0);
                transition: all 200ms ease-in-out;
                display: flex;
                flex-direction: column;
                transform: scaleY(0);
                top: 130%;
                transform-origin: top;
                z-index: 99999;
                box-shadow: 0px 2px 4px -1px #e8e2e2;

                .option {
                    width: 100%;
                    white-space: nowrap;
                    color: rgba(161, 168, 170, 0.568);
                    font-size: .75em;
                    background-color: #FFF;
                    padding: 1rem;
                    // padding: .9em .9em .9em .2em;
                    cursor: pointer;
                    font-weight: 500;
                    height: 0%;
                    position: relative;
                    border-bottom: 1px solid #eff9f8;
                    padding-left: .5rem;
                  
                    &:last-child {
                        border: none;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        left: 0;
                        height: 100%;
                        top: 0;
                        width: 3px;
                        background-color: #3b4144;
                        transition: all 200ms ease-in-out;
                        transform: scaleY(0);
                    }
                    
                    &:hover {
                        color: rgb(161, 168, 170);

                        &::before {
                            transform: scaleY(1);
                            transition: all 200ms ease-in-out;
                        }
                    }

                    &:first-child {
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            background-color: rgb(255, 255, 255);
                            transform: rotate(45deg) translateY(-50%);
                            top: 0;
                            right: 18px;
                        }
                    }


                    
                }
            }

            .sortOptionsVisible {
                //opacity: 1;
                //transform: scaleY(1);
                transition: transform 200ms ease-in-out;
                transform: scaleY(1);
            }
        }

        .search {
            margin-left: auto;
            display: flex;
            align-items: center;
            position: relative;
            margin-right: 2rem;

            .searchInput {
                // border: 1px solid rgb(196, 194, 194);
                // border-radius: 10px;
                // height: 2.2rem;
                // width: 11em;
                // font-weight: 500;
                // color: rgb(59, 66, 68);




                height: 2.5rem;
                border-radius: 30px;
                border: 1px solid rgb(216, 213, 213);
                font-weight: 500;
                padding-left: 1rem;
                width: 6rem;
                transition: all 300ms ease-in-out;
                transform-origin: left;

                &:focus {
                    width: 12rem;
                    transition: all 300ms ease-in-out;
                }


            }

            .searchSvg {
                cursor: pointer;
                position: absolute;
                right: 15px;

                svg {
                    width: 1.5rem;
                    width: 1.5rem;

                    path {
                        fill: rgb(190, 189, 189);
                    }
                }
            }

            // .label {
            //     position: relative;
            //     width: 100%;
            //     height: 100%;
            //     display: block;


            //     .border {
            //         display: block;
            //         position: absolute;
            //         width: 70%;
            //         height: .1em;
            //         background-color: rgb(12, 53, 107);
            //         bottom: 1%;
            //         transform: scaleX(0);
            //         transform-origin: center;
            //         transition: all 200ms ease-in-out;

            //     }


            //     .clicked {
            //         transform: scaleX(1) !important;
            //         transition: all 200ms ease-in-out;
            //     }
            // }


        }

        .refresh {
            svg {
                height: 1.5em;
                width: 1.5em;
                cursor: pointer;
                transform: scale(1);
                transition: all 200ms ease-in-out;

                path {
                    fill: rgb(84, 86, 88);
                }

                &:hover {
                    transform: scale(1.1);
                    transition: all 200ms ease-in-out;
                }
            }
        }
    }




}














// @include mobile {
//     .wrapper {
//         margin: 0 !important;

//         .top {
//             display: none;
//         }

//         .mid {
//             flex-direction: column;
//             height: 23rem;
//             margin-top: 1em;

//             .p_img {
//                 margin-top: 1em;

//                 .status {
//                     bottom: -2px !important;
//                     right: 1px !important;
//                 }
//             }
//         }
//     }
// }











@keyframes delete {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    50% {
        opacity: 0.5;
        transform: translateX(-20%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes startup {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


@include tablet {

     

    .top,
    .options,
    .content {
        width: 90% !important;

    }

    .wrapper {
        margin-left: 0 !important;
    }

    .content {
        .mid {

            &>div {
                font-size: .75rem !important;
            }
        }
    }
}