// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');




$minTablet: 200px;
$maxTablet: 1200px;

@mixin tablet {
    @media (min-width: #{$minTablet}) and (max-width: #{$maxTablet}) {
        @content;
    }
}







*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #f8f9fc;
}

.head {
    margin-left: 7em;
    margin-top: 4rem;
    width: calc(100%- 7em);
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 5rem;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }

}

.generalData {
    display: flex;
    width: calc(100% - 7em);
    margin-left: 7em;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    margin-top: 6rem;

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 6rem;
        align-items: center;
        color: rgb(0, 0, 0);
        margin-right: 2rem;
        background-color: #FFF;
        position: relative;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 1px 1px 1px 1px #e8e2e2;
        border-bottom-left-radius: 5px;

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            width: 4px;
            left: 0;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
        }

        .icon {
            display: flex;
            justify-content: left;
            align-items: center;
            height: 100%;
            width: 20%;
            margin-right: 1rem;

            svg {

                height: 2.5rem;
                width: 2.5rem;

                path {
                    fill: #dddfea;
                }
            }
        }

        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 2rem;
            font-weight: 500;
            height: 100%;
            width: 80%;

            .title {
                margin-bottom: .5rem;
                font-size: .8rem;
            }

            &>div {
                width: 100%;

            }

        }
    }

    .totalUsers {

        .text {
            .title {
                color: #4970de;
            }
        }

        &::after {
            background-color: #4970de;
        }
    }

    .totalSales {
        .text {
            .title {
                color: #08c888;
            }
        }

        &::after {
            background-color: #08c888;
        }
    }

    .totalDemandes {
        .text {
            .title {
                color: #2eb8cb;
            }
        }

        &::after {
            background-color: #2eb8cb;
        }

    }

    .totalLavages {

        .text {
            .title {
                color: #f6c239;
            }
        }

        &::after {
            background-color: #f6c239;
        }
    }
}

.chartsContainer {
    margin-left: 7em;

    &>div {
        display: flex;
    }
}


.usersContainer,
.demandesContainer {
    position: relative;
    width: 813px;
    height: 340px;
    // box-shadow: 1px 1px 8px 1px #dddada;

}

.pieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 2rem 1rem .5rem 1rem
}

.canvasC,
.pieC {
    box-shadow: 1px 1px 8px 1px #dddada;
    background-color: #FFF;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
}

.canvasC {
    margin-right: 2.5rem;
}

.status_d {
    .canvasText {
        background-color: #4bc0c01a;

        p {
            color: #4bc0c0;
        }
    }
}

.status_u {
    .canvasText {
        background-color: #ffdb8947;

        p {
            color: #ff9b39;
        }
    }
}



.userChart,
.demandeChart {
    width: calc(100% - 7em);
    margin-left: 5em;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.demandeChart {
    margin-bottom: 2rem;
}

canvas {
    background-color: #FFF;
    //  box-shadow: 1px 1px 1px 1px #e8e2e2;
}

.u {
    .canvasText {
        background-color: #a785ea29;

        p {
            color: #96f;
        }
    }
}

.d {
    .canvasText {
        background-color: #f8f9fc;

        p {
            color: #7890e4;
        }
    }
}

.canvasText {
    height: 3rem;
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
    left: 0;




    p {
        padding-left: 1rem;
        font-weight: 500;
    }
}






@include tablet {
    body {
        &>div {
            margin-left: 0 !important;
        }
    }


    .generalData {
        padding: 0 !important;
        width: 100% !important;

        & > div {
            width: 21% !important;
        }

        .totalLavages {
            margin-right: 0 !important;
        }
    }
    .chartsContainer {
        &>div {
            margin-left: 0 !important;
            flex-direction: column;
        }
    }


    .usersContainer,
    .demandesContainer {
        position: relative;
        width: 700px;
        height: 340px ;
        margin: 0 auto;

    }
    #last {
        margin-bottom: 4rem !important;
    }
    .userChart,
    .demandeChart {
        width: 100% !important;
        .canvasC {
            margin: 0 auto;
            width: 97%;
        }

        & > div {
            margin-bottom: 2rem !important;
        }
    }


    .pieC {
        width: 97%;
        margin: 0 auto;
    }
    .pieContainer {
        width: 650px;
    }


}