@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

html {
    height: 100%;
}

body {
    height: 100%;
}


.usersContainer {
    position: relative;
    width: 50rem;
    height: 20rem;
}