*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f8f9fc;
}

.head {
  margin-left: 7em;
  width: calc(100%- 7em);
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
}

.head h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.generalData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 7em);
  margin-left: 7em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}

.generalData > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 6rem;
  align-items: center;
  color: black;
  margin-right: 2rem;
  background-color: #FFF;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px #e8e2e2;
          box-shadow: 1px 1px 1px 1px #e8e2e2;
  border-bottom-left-radius: 5px;
}

.generalData > div::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 4px;
  left: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.generalData > div .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 20%;
  margin-right: 1rem;
}

.generalData > div .icon svg {
  height: 2.5rem;
  width: 2.5rem;
}

.generalData > div .icon svg path {
  fill: #dddfea;
}

.generalData > div .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
  font-weight: 500;
  height: 100%;
  width: 80%;
}

.generalData > div .text .title {
  margin-bottom: .5rem;
  font-size: .8rem;
}

.generalData > div .text > div {
  width: 100%;
}

.generalData .totalUsers .text .title {
  color: #4970de;
}

.generalData .totalUsers::after {
  background-color: #4970de;
}

.generalData .totalSales .text .title {
  color: #08c888;
}

.generalData .totalSales::after {
  background-color: #08c888;
}

.generalData .totalDemandes .text .title {
  color: #2eb8cb;
}

.generalData .totalDemandes::after {
  background-color: #2eb8cb;
}

.generalData .totalLavages .text .title {
  color: #f6c239;
}

.generalData .totalLavages::after {
  background-color: #f6c239;
}

.chartsContainer {
  margin-left: 7em;
}

.chartsContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usersContainer,
.demandesContainer {
  position: relative;
  width: 813px;
  height: 340px;
}

.pieContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 2rem 1rem .5rem 1rem;
}

.canvasC,
.pieC {
  -webkit-box-shadow: 1px 1px 8px 1px #dddada;
          box-shadow: 1px 1px 8px 1px #dddada;
  background-color: #FFF;
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
}

.canvasC {
  margin-right: 2.5rem;
}

.status_d .canvasText {
  background-color: #4bc0c01a;
}

.status_d .canvasText p {
  color: #4bc0c0;
}

.status_u .canvasText {
  background-color: #ffdb8947;
}

.status_u .canvasText p {
  color: #ff9b39;
}

.userChart,
.demandeChart {
  width: calc(100% - 7em);
  margin-left: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.demandeChart {
  margin-bottom: 2rem;
}

canvas {
  background-color: #FFF;
}

.u .canvasText {
  background-color: #a785ea29;
}

.u .canvasText p {
  color: #96f;
}

.d .canvasText {
  background-color: #f8f9fc;
}

.d .canvasText p {
  color: #7890e4;
}

.canvasText {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;
  left: 0;
}

.canvasText p {
  padding-left: 1rem;
  font-weight: 500;
}

@media (min-width: 200px) and (max-width: 1200px) {
  body > div {
    margin-left: 0 !important;
  }
  .generalData {
    padding: 0 !important;
    width: 100% !important;
  }
  .generalData > div {
    width: 21% !important;
  }
  .generalData .totalLavages {
    margin-right: 0 !important;
  }
  .chartsContainer > div {
    margin-left: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .usersContainer,
  .demandesContainer {
    position: relative;
    width: 613px;
    height: 340px;
    margin: 0 auto;
  }
  .userChart,
  .demandeChart {
    width: 100% !important;
  }
  .userChart .canvasC,
  .demandeChart .canvasC {
    margin: 0 auto;
    width: 90%;
  }
  .userChart > div,
  .demandeChart > div {
    margin-bottom: 2rem !important;
  }
  .pieC {
    width: 90%;
    margin: 0 auto;
  }
  .pieContainer {
    width: 580px;
  }
}
/*# sourceMappingURL=charts.css.map */