@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: 0;
          box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

.sideWrapper {
  height: 100%;
  position: fixed;
  background-color: #2c3d50;
  width: 7em;
  bottom: 0;
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
}

.sideWrapper .sideBar {
  height: 100%;
}

.sideWrapper .navList {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sideWrapper .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
}

.sideWrapper .link svg {
  width: 2em;
  height: 2em;
  margin-bottom: .6em;
}

.sideWrapper .link .navItem {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideWrapper .link .navItem a {
  color: #7f92b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.sideWrapper .link .navItem a:hover {
  background-color: #3e5671;
}

.sideWrapper .link .navItem a:hover span {
  color: white;
}

.sideWrapper .link .navItem a:hover svg path {
  fill: white;
}

.sideWrapper .link .navItem a:visited {
  background-color: red;
}

.sideWrapper .link .navItem a span {
  font-weight: 500;
  font-size: .9em;
}

.sideWrapper .link .navItem .active {
  background-color: #42b993;
  position: relative;
}

.sideWrapper .link .navItem .active span {
  color: white;
}

.sideWrapper .link .navItem .active svg path {
  fill: white;
}

.sideWrapper .link .navItem .active::after {
  content: '';
  position: absolute;
  display: block;
  left: 95%;
  width: .8rem;
  height: .8rem;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 200px) and (max-width: 1200px) {
  .sideWrapper {
    -webkit-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
    bottom: 0;
    width: 100%;
    height: 10%;
  }
  .sideWrapper .navList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sideWrapper .link {
    height: 100%;
    width: 20%;
  }
  .sideWrapper .link .active::after {
    content: '';
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */